<h1 mat-dialog-title>Delete '{{data.subscription?.name}}'?</h1>
<div mat-dialog-content>
  <p>
    <b>Warning</b> - Deleting a subscription is a significantly destructive
    task. All data and statistics related to the subscription will be lost
  </p>
  <p>
    In order to delete a subscription, you must type (or copy) the name of the
    subscription into the box below
  </p>
  <mat-form-field>
    <mat-label>Subscription Name</mat-label>
    <input
      matInput
      id="confirmDeleteInput"
      [(ngModel)]="data.confirmName"
      (ngModelChange)="confirmValueVhange($event)"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <div
    matTooltip="The entry field must match the name of the subscription to delete it"
    matTooltipPosition="right"
    matTooltipShowDelay="500"
    [matTooltipDisabled]="canDelete"
  >
    <button
      mat-button
      [mat-dialog-close]="true"
      [disabled]="!canDelete"
      cdkFocusInitial
    >
      Delete
    </button>
  </div>
</div>
