<div class="p-3">
    <div class="d-flex flex-row mb-3">
        <div class="d-flex flex-grow-1 flex-column">
            <div class="d-flex flex-row mb-3">
                <button mat-raised-button color="primary" *ngIf="!isExistingCustomer()"
                    (click)="createNew()">Clear</button>
                <h1 *ngIf="isExistingCustomer()">{{customer?.name}}</h1>
                <!-- <button mat-raised-button color="accent">Edit</button>
              <button mat-raised-button color="warn">Delete</button> -->
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1" [formGroup]="customerFormGroup">
                    <mat-label>Customer Name*</mat-label>
                    <input type="text" trim="blur" matInput placeholder="Customer/Organization Name" formControlName="customerName"
                        [errorStateMatcher]="matchCustomerName">
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('required')">
                        Customer/Organization name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('whitespace')">
                        Customer/Organization name may not contain only spaces
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="flex-grow-4" style="padding-bottom:10px"
                    [formGroup]="customerFormGroup">
                    <mat-label>Customer Identifier*</mat-label>
                    <input type="text" trim="blur" matInput placeholder="Customer/Organization Identifier"
                        formControlName="customerIdentifier" [errorStateMatcher]="matchCustomerIdentifier">
                    <mat-hint align="start"><strong>Short acronym or letters to identify the customer</strong>
                    </mat-hint>
                    <mat-error *ngIf="customerFormGroup.controls.customerIdentifier.hasError('required')">
                        Customer/Organization identifier is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('whitespace')">
                        Customer/Organization identifier may not contain only spaces
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- Place holder for Government Type -->
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1" [formGroup]="customerFormGroup">
                    <mat-label>Customer Type*</mat-label>
                    <mat-select formControlName="customerType">
                        <mat-option [value]="null">--Select--</mat-option>
                        <mat-option value="FED">Government - FED</mat-option>
                        <mat-option value="State">Government - State</mat-option>
                        <mat-option value="Local">Governement - Local</mat-option>
                        <mat-option value="Tribal">Government - Tribal</mat-option>
                        <mat-option value="Tribal">Government - Territorial</mat-option>
                        <mat-option value="Private">Private</mat-option>

                    </mat-select>
                    <mat-error *ngIf="customerFormGroup.controls.customerType.hasError('required')">
                        Customer type is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('whitespace')">
                        Customer type may not contain only spaces
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1" [formGroup]="customerFormGroup">
                    <mat-label>Address 1*</mat-label>
                    <input type="text" trim="blur" matInput placeholder="Address 1" formControlName="address1"
                        [errorStateMatcher]="matchAddress1">
                    <mat-error *ngIf="customerFormGroup.controls.address1.hasError('required')">
                        Address 1 is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('whitespace')">
                        Address 1 may not contain only spaces
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1" [formGroup]="customerFormGroup">
                    <mat-label>Address 2</mat-label>
                    <input type="text" trim="blur" matInput placeholder="Address 2" formControlName="address2">
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1" [formGroup]="customerFormGroup">
                    <mat-label>City*</mat-label>
                    <input type="text" trim="blur" matInput placeholder="City" formControlName="city"
                        [errorStateMatcher]="matchCity">
                    <mat-error *ngIf="customerFormGroup.controls.city.hasError('required')">
                        City is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('whitespace')">
                        City may not contain only spaces
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="flex-grow-2" [formGroup]="customerFormGroup">
                    <mat-label>State*</mat-label>
                    <input type="text" trim="blur" matInput placeholder="State" formControlName="state"
                        [errorStateMatcher]="matchState">
                    <mat-error *ngIf="customerFormGroup.controls.state.hasError('required')">
                        State is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('whitespace')">
                        State may not contain only spaces
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="flex-shrink-5" [formGroup]="customerFormGroup"
                    [style.width.px]=80>
                    <mat-label>Zip*</mat-label>
                    <input type="text" trim="blur" matInput placeholder="Zip" formControlName="zip" [errorStateMatcher]="matchZip">
                    <mat-error *ngIf="customerFormGroup.controls.zip.hasError('required')">
                        Zip is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="customerFormGroup.controls.customerName.hasError('whitespace')">
                        Zip may not contain only spaces
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row" *ngIf="checkCustomerType()">
                <mat-form-field appearance="outline" class="flex-grow-1" [formGroup]="customerFormGroup">
                    <mat-label>Sector*</mat-label>
                    <mat-select formControlName="sector" (selectionChange)="sectorChange($event)">
                        <mat-option [value]="null">--Select--</mat-option>
                        <mat-option *ngFor="let s of sectorList" [value]="s.name">
                            {{ s.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="customerFormGroup.controls.sector.hasError('required')">
                        Sector is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row" *ngIf="checkCustomerType()">
                <mat-form-field appearance="outline" class="flex-grow-1" [formGroup]="customerFormGroup">
                    <mat-label>Industry*</mat-label>
                    <mat-select formControlName="industry">
                        <mat-option *ngIf=!sectorSelected() [value]="null"> <b>Select a sector</b></mat-option>
                        <mat-option *ngIf=sectorSelected() [value]="null">--Select--</mat-option>
                        <mat-option *ngFor="let s of industryList" [value]="s.name">
                            {{ s.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="customerFormGroup.controls.industry.hasError('required')">
                        Industry is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <h1>Customer/Organization Contacts</h1>
    <div class="d-flex flex-row mb-5">
        <div class="d-flex flex-grow-1 flex-column add-contact-width">
            <div class="d-flex flex-row">
                <button mat-raised-button color="primary" (click)="showAddContact(false)"
                    *ngIf="!addContact && !isEdit">Add Contact</button>
            </div>

            <div class="d-flex flex-row p-2 flex-grow-1 add-contact-width" *ngIf="addContact">
                <mat-card class="add-contact-width">
                    <mat-card-header>
                        <mat-card-title>{{!isEdit ? 'Add Contact' : 'Edit Contact'}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column mr-2 w-50" [formGroup]="contactFormGroup">
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name*</mat-label>
                                    <input type="text" trim="blur" matInput placeholder="First Name" formControlName="firstName"
                                        [errorStateMatcher]="matchFirstName">
                                    <mat-error *ngIf="contactFormGroup.controls.firstName.hasError('required')">
                                        First name <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column mr-2 w-50" [formGroup]="contactFormGroup">
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name*</mat-label>
                                    <input type="text" trim="blur" matInput placeholder="Last Name" formControlName="lastName"
                                        [errorStateMatcher]="matchLastName">
                                    <mat-error *ngIf="contactFormGroup.controls.lastName.hasError('required')">
                                        Last name <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column mr-2 w-50" [formGroup]="contactFormGroup">
                                <mat-form-field appearance="outline">
                                    <mat-label>Title</mat-label>
                                    <input type="text" trim="blur" matInput placeholder="Title" formControlName="title">
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column mr-2 w-50" [formGroup]="contactFormGroup">
                                <mat-form-field appearance="outline">
                                    <mat-label>Office Phone</mat-label>
                                    <input type="text" trim="blur" matInput placeholder="Office Phone"
                                        formControlName="office_phone">
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column mr-2 w-50" [formGroup]="contactFormGroup">
                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile Phone</mat-label>
                                    <input type="text" trim="blur" matInput placeholder="Mobile Phone"
                                        formControlName="mobile_phone">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column mr-2 w-100" [formGroup]="contactFormGroup">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email*</mat-label>
                                    <input type="text" trim="blur" matInput placeholder="Email" formControlName="email"
                                        [errorStateMatcher]="matchEmail">
                                    <mat-error *ngIf="contactFormGroup.controls.email.hasError('required')">
                                        Email <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="contactFormGroup.controls.email.hasError('email')">
                                        Check email format
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="d-flex flex-row flex-grow-1 w-100" [formGroup]="contactFormGroup">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Contact Notes</mat-label>
                                <textarea matInput trim="blur" formControlName="contactNotes"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="d-flex flex-row flex-grow-1">
                            <div class="alert alert-danger flex-grow-1" *ngIf="contactError">
                                {{contactError}}
                            </div>
                        </div>
                        <button mat-raised-button color="primary" *ngIf="!isEdit" (click)="pushContact()"
                            [disabled]="!contactFormGroup.valid">Add</button>
                        <button mat-raised-button color="primary" *ngIf="isEdit" (click)="pushContact()"
                            [disabled]="!contactFormGroup.valid">Edit</button>
                        <button mat-flat-button (click)="showAddContact(false)">Close</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="d-flex flex-row flex-grow-1 mt-3 mb-3">
                <table mat-table [dataSource]="contacts" class="mat-elevation-z1 flex-grow-1"
                    *ngIf="checkDataSourceLength()">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name + ' ' + element.last_name}} </td>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Mobile Phone Column -->
                    <ng-container matColumnDef="mobile_phone">
                        <th mat-header-cell *matHeaderCellDef> Mobile Phone </th>
                        <td mat-cell *matCellDef="let element"> {{element.mobile_phone}} </td>
                    </ng-container>

                    <!-- Office Phone Column -->
                    <ng-container matColumnDef="office_phone">
                        <th mat-header-cell *matHeaderCellDef> Office Phone </th>
                        <td mat-cell *matCellDef="let element"> {{element.office_phone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button class="table-btn-icon" mat-flat-button color="primary"
                                (click)="editContact(element)">
                                <mat-icon class="table-btn-icon-size">edit</mat-icon>
                            </button>
                            <button class="table-btn-icon" mat-flat-button color="warn"
                                (click)="removeContact(element)">
                                <mat-icon class="table-btn-icon-size">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="alert alert-danger flex-grow-1" role="alert" *ngIf="!checkDataSourceLength()">
                    No contacts Available
                </div>
            </div>
            <div *ngIf="customer_uuid" class="pt-3">
                <h1>Customer Subscriptions</h1>
                <customer-subscriptions [customer]="customer"></customer-subscriptions>
            </div>
            <div class="d-flex flex-row flex-grow-1">
                <div class="alert alert-danger flex-grow-1" *ngIf="orgError">
                    {{orgError}}
                </div>
            </div>
            <div class="d-flex flex-row flex-grow-1 justify-content-end">

                <div matTooltip="A customer must have all required fields filled, and at least one contact listed"
                    matTooltipPosition="right" matTooltipShowDelay="500" [matTooltipDisabled]="customerValid() ">
                    <button mat-raised-button [color]="customerValid() ? 'primary' : 'warn'"
                        [disabled]="!customerValid()" (click)="pushCustomer()">Save Customer
                    </button>
                </div>
                <button mat-flat-button (click)="cancelCustomer()">Cancel</button>
            </div>
        </div>
    </div>
</div>