.detbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Arial";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:"Arial";
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
h2
{
font-family:"Arial";
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
span.Figure
{
font-family:"Arial";
font-size: 11pt;color:#004080;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
img.de_75F9C4A440
{
margin-top: 3px; margin-right: 3px; margin-bottom: 3px; margin-left: 3px;}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
img.de_D457E58A2E
{
margin-top: 0px; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_1E51604789
{
	color:#deff00;
	text-decoration:underline;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_2BE6EDE6C9
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#ca930b;
}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_4CD179DA38
{
	font-family: "Calibri";
	font-size: 11pt;
	color:#000000;
}
span.de_4F153A62C4
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#008000;
}
span.de_68B99ACC5C
{
	font-family: "Arial";
}
span.de_83B383EF37
{
	font-family: "ArialMT";
	font-size: 11pt;
	color:#000000;
}
span.de_87EE677601
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#ff0000;
}
span.de_C7B4EFB7F4
{
	font-family: "Arial-ItalicMT";
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
span.de_D8BCB2AC4C
{
	font-family: "Calibri";
	font-size: 12pt;
	color:#000000;
}
span.de_E64EC0D725
{
	color:#deff00;
}
.list-element {
	list-style-type: none;
}
.list-counter-0 > div > * {
	text-indent: 0px;}
.list-counter-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0, disc) '\00a0';
	counter-increment: list-counter-0;
}
.list-counter-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1 > div > * {
	text-indent: 0px;}
.list-counter-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1, disc) '\00a0';
	counter-increment: list-counter-1;
}
.list-counter-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2 > div > * {
	text-indent: 0px;}
.list-counter-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2, disc) '\00a0';
	counter-increment: list-counter-2;
}
.list-counter-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-3 > div > * {
	text-indent: 0px;}
.list-counter-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-3, disc) '\00a0';
	counter-increment: list-counter-3;
}
.list-counter-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
