.tab-form-error::after {
    content: "*";
    color: red;
  }
  
  .template-list {
    border: rgba(0, 0, 0, 0.15) solid 1px;
    border-radius: 7px;
  }
  
  .selected_template_title div {
    padding-bottom: 0em;
  }
  :host ::ng-deep .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0;
  }
  
  .selected-template button {
    display: flex;
    justify-content: center;
    padding: 0em 3em;
  }
  .save_container {
    align-items: flex-end;
    flex: auto;
  }
  
  .deception_calc_content {
    height: calc(100% - 48px);
  }
  
  .radio_selection {
    width: 100%;
    padding-left: 2em;
  }
  
  .radio_selection_group {
    margin-left: 1em;
    padding-top: 0.5em;
  }
  
  .radio_selection_group mat-radio-button {
    width: 100%;
  }
  
  .check-box-wrapper {
    display: inline-block;
  }
  
  .deception_checkboxes {
    display: flex;
    flex-direction: column;
  }
  