<div class="container-fluid">
    <div class="row h-100">
        <div class="col-8 h-100 d-flex flex-column mt-2">
            <div class="p-3">
                <div class="d-flex flex-row mb-3">
                    <div class="d-flex flex-grow-1 flex-column" [formGroup]="recommendationsFormGroup">
                        <div class="d-flex flex-row">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Recommendation Name*</mat-label>
                                <input type="text" trim="blur" matInput placeholder="Recommendation Name"
                                    formControlName="recommendationsName">
                                <mat-error>
                                    Recommendation name is <strong>required</strong>
                                </mat-error>
                                <mat-error>
                                    Recommendation name may not contain only spaces
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-flex flex-row">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Description</mat-label>
                                <textarea trim="blur" matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
                                    cdkAutosizeMaxRows="10" placeholder="Description"
                                    formControlName="recommendationsDescription"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row flex-grow-1 justify-content-end">
                <div matTooltip="A recommendation must have all required fields filled" matTooltipPosition="right"
                    matTooltipShowDelay="500">
                    <button id="save-button" class="d-flex" mat-raised-button (click)="saveRecommendations()">Save
                        Recommendation
                    </button>
                </div>
                <button id="save-button" class="d-flex" mat-flat-button>Cancel</button>
            </div>
        </div>
        <div class="col-4 h-100 testing overflow-auto border-left">
            <div class="p-3">
                <h1>Match Configuration</h1>
                <div class="mb-3">
                    <div class="row">
                        <!-- Left Column Calcs -->
                        <div class="d-flex flex-column col-md-12 col-lg-5">
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Appearance & Grammar</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="grammar">
                                    <mat-radio-button [value]="0" radioGroup="grammarRadioGroup">0 = Poor
                                    </mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="grammarRadioGroup">1 = Decent
                                    </mat-radio-button>
                                    <mat-radio-button [value]="2" radioGroup="grammarRadioGroup">2 = Proper
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Link Domain</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="link_domain">
                                    <mat-radio-button [value]="0" radioGroup="linkRadioGroup">0 = Fake
                                    </mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="linkRadioGroup">1 = Spoofed / Hidden
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Logo / Graphics</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="logo_graphics">
                                    <mat-radio-button [value]="0" radioGroup="graphicsRadioGroup">0 = Fake / None
                                    </mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="graphicsRadioGroup">1 = Spoofed / HTML
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Sender External</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="external">
                                    <mat-radio-button [value]="0" radioGroup="senderExternalRadioGroup">0 = Fake / NA
                                    </mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="senderExternalRadioGroup">1 = Spoofed
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Internal</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="internal">
                                    <mat-radio-button [value]="0" radioGroup="internalRadioGroup">0 = Fake / NA
                                    </mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="internalRadioGroup">1 = Unknown Spoofed
                                    </mat-radio-button>
                                    <mat-radio-button [value]="2" radioGroup="internalRadioGroup">2 = Known Spoofed
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Authoritative</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="authoritative">
                                    <mat-radio-button [value]="0" radioGroup="authoritativeRadioGroup">0 = None
                                    </mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="authoritativeRadioGroup">1 = Corporate /
                                        Local
                                    </mat-radio-button>
                                    <mat-radio-button [value]="2" radioGroup="authoritativeRadioGroup">2 = Federal /
                                        State
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Relevancy Organization</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="organization">
                                    <mat-radio-button [value]="0" radioGroup="relevancyOrganizationGroup">0 = No
                                    </mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="relevancyOrganizationGroup">1 = Yes
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Public News</mat-label>
                                <mat-radio-group appearance="outline" class="row radio_selection_group"
                                    formControlName="public_news">
                                    <mat-radio-button [value]="0" radioGroup="publicNewsGroup">0 = No</mat-radio-button>
                                    <mat-radio-button [value]="1" radioGroup="publicNewsGroup">1 = Yes
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="check-box-wrapper" [formGroup]="recommendationsFormGroup">
                                <mat-label class="mb-3">Behavior</mat-label>
                                <div class="deception_checkboxes mt-2 ml-3">
                                    <mat-checkbox formControlName="fear">Fear </mat-checkbox>
                                    <mat-checkbox formControlName="curiosity">Duty or Obligation</mat-checkbox>
                                    <mat-checkbox formControlName="duty_obligation">Curiosity</mat-checkbox>
                                    <mat-checkbox formControlName="greed">Greed</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>