
<div class="w-100">
    <mat-card>
        <mat-card-title >
          Statistics
        </mat-card-title>
            Statistics Cycle:

            <div class="cycle-select-wrapper" *ngIf="subscription">
                <mat-form-field class="cycle-select-dropdown" *ngIf="subscription.cycles" appearance="outline">
                    <mat-label>Cycle</mat-label>
                    <mat-select  [(value)]="selectedCycle" (selectionChange)="cycleChange($event)">
                        <mat-option *ngFor="let c of subscription.cycles" [value]="c">
                            {{ c.start_date | UTCtoReadableTime }} - {{ c.end_date | UTCtoReadableTime }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    </mat-card>
    <app-sub-dashboard></app-sub-dashboard>

    <mat-card>
        <div>
            <h4>Subscription Timeline</h4>
            <div style="margin: 0 2rem 2rem 2rem">
                <app-svg-timeline [timelineItems]="timelineItems"></app-svg-timeline>
            </div>
        </div>
    </mat-card>
    <mat-card [formGroup]="reportedStatsForm">
        <mat-card-header>
            <mat-card-title style="margin-left: -16px !important">
                Email Reporting Statistics
            </mat-card-title>
        </mat-card-header>

        <mat-label class="h6">Override Value</mat-label>
        <div class="text-muted">Entering a value here will override the individual records below
            and will cause the reporting to be incomplete when using reported times. Use only if 
            individual records can not be provided.
        </div>
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Report Override Value</mat-label>
            <input matInput formControlName="overRiderNumber" type="number" trim="blur" (focusout)="focusOffOverrideVal()">
            <mat-error *ngIf="f.overRiderNumber.hasError('ExcedesTargetCount')" class="invalid-feedback">
                Value can not excede the total number of targets
            </mat-error>
        </mat-form-field>

        <p *ngIf="hasOverrideValue">If a override value is provided, individual reports are disabled.</p>
        <mat-form-field class="w-100 flex-grow-1" appearance="outline">
            <mat-label>Individual Report Records</mat-label>
            <textarea matInput autosize formControlName="reportedItems" (focusout)="focusOffReportList()">
                </textarea>
            <mat-error *ngIf="f.reportedItems.hasError('invalidEmailFormat')" class="invalid-feedback">
                Email address not in useable format : {{validationErrors.invalidEmailFormat}}
            </mat-error>            
            <mat-error *ngIf="f.reportedItems.hasError('invalidDateFormat')" class="invalid-feedback">
                Invalid Date Time : {{validationErrors.invalidDateFormat}}
            </mat-error>            
            <mat-error *ngIf="f.reportedItems.hasError('emailNotATarget')" class="invalid-feedback">
                Email not in target users list : {{validationErrors.emailNotATarget}}
            </mat-error>
            <mat-error *ngIf=" f.reportedItems.hasError('invalidTargetCsv')" class="invalid-feedback">
                All target lines must have all parts: Line {{reportListErrorLineNum}}
            </mat-error>
            <mat-error *ngIf=" f.reportedItems.hasError('duplicateEmail')" class="invalid-feedback">
                Cant not contain duplicate emails: {{validationErrors.duplicateEmail}}
            </mat-error>
        </mat-form-field>
    </mat-card>
</div>