<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content class="d-flex flex-column">
  <div class="d-flex flex-row">
    <mat-dialog-content class="mt-2 mb-2">
      {{ confirmMessage }}
    </mat-dialog-content>
  </div>
</div>

<div class="mt-2 mb-2 d-flex flex-row justify-content-end">
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="dialogRef.close(true)">
      Yes
    </button>
    <button mat-flat-button color="basic" (click)="dialogRef.close(false)">
      No
    </button>
  </mat-dialog-actions>
</div>
