<h1>{{ mode | titlecase }} Sending Profile</h1>

<form [formGroup]="profileForm">
  <div style="max-height: 70vh; overflow-y: auto; overflow-x: hidden">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name*</mat-label>
      <input
        formControlName="name"
        matInput
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Profile name is required</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Landing Page Domain*</mat-label>
      <input formControlName="landingPageDomain" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>From*</mat-label>
      <input
        formControlName="from"
        matInput
        [ngClass]="{ 'is-invalid': submitted && f.from.errors }"
      />
      <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
        <div *ngIf="f.from.errors.required">From address is required</div>
        <div *ngIf="f.from.errors.pattern">
          From address must be a valid email address
        </div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Sending Ip[s]</mat-label>
      <input formControlName="sendingIpAddress" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Interface Type*</mat-label>
      <mat-select formControlName="interfaceType">
        <mat-option value="SMTP">SMTP</mat-option>
        <mat-option value="Mailgun">Mailgun</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- SMTP Fields -->
    <div *ngIf="f.interfaceType.value === 'SMTP'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>SMTP Host</mat-label>
        <input
          formControlName="host"
          matInput
          [ngClass]="{ 'is-invalid': submitted && f.host.errors }"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>SMTP Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>SMTP Password</mat-label>
        <input formControlName="password" matInput type="password" />
      </mat-form-field>
    </div>

    <!-- Mailgun Fields -->
    <div *ngIf="f.interfaceType.value === 'Mailgun'">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mailgun API Key</mat-label>
        <input formControlName="mailgunApiKey" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Mailgun Domain</mat-label>
        <input formControlName="mailgunDomain" matInput />
      </mat-form-field>
    </div>

    <div>
      <h2>Email Headers</h2>
      <div class="d-flex flex-row align-items-center w-100">
        <mat-form-field appearance="outline" class="mr-2">
          <input
            formControlName="newHeaderName"
            matInput
            placeholder="Custom Header"
            maxlength="100"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-2">
          <input
            formControlName="newHeaderValue"
            matInput
            placeholder="Header Value"
            maxlength="100"
          />
        </mat-form-field>
        <div class="mb-3">
          <button mat-raised-button color="primary" (click)="addHeader()">
            Add Custom Header
          </button>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <mat-table [dataSource]="headerList" matSort>
        <ng-container matColumnDef="header">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Header</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{ row.header }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Value</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{ row.value }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button
              class="table-btn-icon"
              mat-flat-button
              color="warn"
              (click)="deleteHeader(row)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          class="table-row"
          *matRowDef="let row; columns: displayedColumns"
        ></mat-row>
      </mat-table>

      <div *ngIf="!headerList || headerList?.data.length == 0" class="p-3">
        No headers defined
      </div>
    </div>
  </div>

  <div class="text-left mt-3 mb-4">
    <mat-form-field>
      <mat-label>Test Email</mat-label>
      <input
        matInput
        id="testEmail"
        name="testEmail"
        class="mr-2 ml-3"
        [(ngModel)]="testEmail"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Test Email"
        maxlength="100"
        email
      />
    </mat-form-field>
    <button
      mat-flat-button
      class="add-button"
      color="primary"
      (click)="onSendTestClick()"
    >
      Send Test Email
    </button>
  </div>
  <div class="text-right mt-3">
    <button
      mat-flat-button
      class="add-button"
      color="basic"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      (click)="onSaveClick()"
    >
      Save Profile
    </button>
  </div>
</form>
