<h1>{{ mode | titlecase }} Sending Profile</h1>

<form [formGroup]="profileForm">
  <div style="max-height: 70vh; overflow-y: auto; overflow-x: hidden">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Profile name is required</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Interface Type</mat-label>
      <input formControlName="interfaceType" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>From</mat-label>
      <input formControlName="from" matInput [ngClass]="{ 'is-invalid': submitted && f.from.errors }">
      <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
        <div *ngIf="f.from.errors.required">From address is required</div>
        <div *ngIf="f.from.errors.email">From address must be a valid email address</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Host</mat-label>
      <input formControlName="host" matInput [ngClass]="{ 'is-invalid': submitted && f.host.errors }" />
      <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
        <div *ngIf="f.host.errors.required">Host is required</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>

    <div class="valign-bottom mb-3">
      <mat-checkbox formControlName="ignoreCertErrors" color="primary">
        Ignore Certificate Errors
      </mat-checkbox>
    </div>
    <div>
      <h2>Email Headers</h2>
      <div class="d-flex flex-row align-items-center w-100">
        <mat-form-field appearance="outline" class="mr-2">
          <input formControlName="newHeaderName" matInput placeholder="Custom Header" maxlength="100">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-2">
          <input formControlName="newHeaderValue" matInput placeholder="Header Value" maxlength="100">
        </mat-form-field>
        <div class="mb-3">
          <button mat-raised-button color="primary" (click)="addHeader()">Add Custom Header</button>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <table class="table-1 w-100">
        <tr class="mat-header-row">
          <th class="mat-header-cell">Header</th>
          <th class="mat-header-cell">Value</th>
          <th class="mat-header-cell"></th>
        </tr>
        <tr *ngFor="let h of headers?.keys()" class="mat-row">
          <td class="mat-cell">{{h}}</td>
          <td class="mat-cell">{{headers.get(h)}}</td>
          <td class="mat-cell">
            <button class="table-btn-icon" mat-flat-button color="warn" (click)="deleteHeader(h)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <div *ngIf="!headers || headers?.size == 0" class="p-3">
        No headers defined
      </div>
    </div>

    <div *ngIf="headers?.size == 0">
      No headers defined
    </div>
  </div>

  <div class="text-right mt-3">
    <button mat-flat-button class="add-button" color="basic" (click)="onCancelClick()">
      Cancel
    </button>
    <button mat-raised-button class="add-button" color="primary" (click)="onSaveClick()">
      Save Profile
    </button>
  </div>
</form>