<div class="container-fluid">
  <h2 class="mt-2">Subscriptions Ending Soon</h2>
  <!-- TABLE -->
  <mat-table [dataSource]="endingSoonDataSource" [hidden]="loading" matSort>
    <!-- SUBSCRIPTION NAME -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Subscription Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
    </ng-container>

    <!-- START DATE -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Start Date</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.start_date | date: dateFormat }}
      </mat-cell>
    </ng-container>

    <!-- NUMBER OF TARGETS -->
    <ng-container matColumnDef="numberOfTargets">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Number of Targets</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ getNumberOfTargets(row.target_email_list) }}
      </mat-cell>
    </ng-container>

    <!-- LAST UPDATED DATE -->
    <ng-container matColumnDef="lastUpdated">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Last Updated</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.last_updated | date: dateFormat }}
      </mat-cell>
    </ng-container>

    <!-- HEADER ROW -->
    <mat-header-row
      *matHeaderRowDef="endingSoonDisplayedColumns"
    ></mat-header-row>

    <!-- ROW DEFINITION -->
    <mat-row
      *matRowDef="let row; columns: endingSoonDisplayedColumns"
      class="table-row cursor-pointer"
      (click)="editSubscription(row)"
    >
    </mat-row>
  </mat-table>

  <h2 class="mt-4">Subscriptions in Progress</h2>
  <!-- TABLE -->
  <mat-table [dataSource]="inProgressDataSource" [hidden]="loading" matSort>
    <!-- SUBSCRIPTION NAME -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Subscription Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
    </ng-container>

    <!-- START DATE -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Start Date</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.start_date | date: dateFormat }}
      </mat-cell>
    </ng-container>

    <!-- NUMBER OF TARGETS -->
    <ng-container matColumnDef="numberOfTargets">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Number of Targets</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ getNumberOfTargets(row.target_email_list) }}
      </mat-cell>
    </ng-container>

    <!-- LAST UPDATED DATE -->
    <ng-container matColumnDef="lastUpdated">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Last Updated</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.last_updated | date: dateFormat }}
      </mat-cell>
    </ng-container>

    <!-- HEADER ROW -->
    <mat-header-row
      *matHeaderRowDef="inProgressDisplayedColumns"
    ></mat-header-row>

    <!-- ROW DEFINITION -->
    <mat-row
      *matRowDef="let row; columns: inProgressDisplayedColumns"
      class="table-row cursor-pointer"
      (click)="editSubscription(row)"
    >
    </mat-row>
  </mat-table>

  <h2 class="mt-4">Stopped Subscriptions</h2>
  <!-- TABLE -->
  <mat-table [dataSource]="stoppedDataSource" [hidden]="loading" matSort>
    <!-- SUBSCRIPTION NAME -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Subscription Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
    </ng-container>

    <!-- START DATE -->
    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Start Date</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.start_date | date: dateFormat }}
      </mat-cell>
    </ng-container>

    <!-- NUMBER OF TARGETS -->
    <ng-container matColumnDef="numberOfTargets">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Number of Targets</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ getNumberOfTargets(row.target_email_list) }}
      </mat-cell>
    </ng-container>

    <!-- LAST UPDATED DATE -->
    <ng-container matColumnDef="lastUpdated">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Last Updated</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ row.last_updated | date: dateFormat }}
      </mat-cell>
    </ng-container>

    <!-- HEADER ROW -->
    <mat-header-row *matHeaderRowDef="stoppedDisplayedColumns"></mat-header-row>

    <!-- ROW DEFINITION -->
    <mat-row
      *matRowDef="let row; columns: stoppedDisplayedColumns"
      class="table-row cursor-pointer"
      (click)="editSubscription(row)"
    >
    </mat-row>
  </mat-table>
</div>
