<div class="container-fluid">
  <!-- Loading Spinner -->
  <div
    *ngIf="loading"
    style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
  >
    <mat-spinner
      class="spinner"
      style="margin-left: auto; margin-right: auto"
      diameter="50"
    ></mat-spinner>
  </div>
  <div [hidden]="loading">
    <h2 class="mt-2">Subscriptions Ending Soon</h2>
    <!-- TABLE -->
    <app-status-table tableName="endingSoon"></app-status-table>

    <h2 class="mt-4">Subscriptions in Progress</h2>
    <!-- TABLE -->
    <app-status-table tableName="inProgress"></app-status-table>
    <h2 class="mt-4">Stopped Subscriptions</h2>
    <!-- TABLE -->
    <app-status-table tableName="stopped"></app-status-table>
  </div>
</div>
