<div class="container-fluid">
  <div class="d-flex flex-row flex-grow-1">
    <!-- SEARCH BAR -->
    <mat-form-field class="d-flex flex-column w-100" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="search_input"
        (keyup)="filterRecommendations($event.target.value)"
        matInput
        placeholder="Search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- CREATE TEMPLATE -->
    <div class="d-inline-flex flex-column ml-2">
      <div class="d-flex">
        <button mat-raised-button color="primary" (click)="openRecDialog(0)">
          New Recommendation
        </button>
      </div>
    </div>
  </div>

  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto"
        diameter="50"
      ></mat-spinner>
    </div>

    <!-- TEMPLATES TABLE -->
    <mat-table [hidden]="loading" [dataSource]="recommendationsData" matSort>
      <!-- NAME -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Title</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
      </ng-container>
      <!-- DECEPTION SCORE -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Type</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
      </ng-container>
      <!-- CREATED BY -->
      <ng-container matColumnDef="created_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Created By</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.created_by }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            class="table-btn-icon"
            mat-flat-button
            color="primary"
            (click)="openRecDialog(row)"
          >
            <mat-icon class="table-btn-icon-size">edit</mat-icon>
          </button>
          <button class="table-btn-icon" mat-flat-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
        (click)="openRecDialog(row)"
      ></mat-row>
    </mat-table>
  </div>
</div>
