<h1 mat-dialog-title>Edit Contact</h1>
<div mat-dialog-content class="d-flex flex-column" [formGroup]="form_group">
  <div class="d-flex flex-row">
    <!-- FIRST NAME -->
    <div class="d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          trim="blur"
          type="text"
          [(ngModel)]="data.first_name"
          formControlName="first_name"
        />
      </mat-form-field>
    </div>
    <!-- LAST NAME -->
    <div class="d-flex flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          trim="blur"
          type="text"
          [(ngModel)]="data.last_name"
          formControlName="last_name"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- TITLE -->
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input
      matInput
      trim="blur"
      type="text"
      [(ngModel)]="data.title"
      formControlName="title"
    />
  </mat-form-field>
  <!-- OFFICE PHONE -->
  <mat-form-field appearance="outline">
    <mat-label>Office Phone Number</mat-label>
    <input
      matInput
      trim="blur"
      type="text"
      [(ngModel)]="data.office_phone"
      formControlName="office_phone"
    />
  </mat-form-field>
  <!-- MOBILE PHONE -->
  <mat-form-field appearance="outline">
    <mat-label>Mobile Phone Number</mat-label>
    <input
      matInput
      trim="blur"
      type="text"
      [(ngModel)]="data.mobile_phone"
      formControlName="mobile_phone"
    />
  </mat-form-field>
  <!-- EMAIL -->
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      trim="blur"
      type="email"
      [(ngModel)]="data.email"
      formControlName="email"
    />
  </mat-form-field>
  <!-- NOTES -->
  <mat-form-field appearance="outline">
    <mat-label>Notes</mat-label>
    <input
      matInput
      trim="blur"
      type="text"
      [(ngModel)]="data.notes"
      formControlName="notes"
    />
  </mat-form-field>
  <!-- ACTIVE -->
  <mat-checkbox [(ngModel)]="data.active" formControlName="active">
    <mat-label>Active</mat-label>
  </mat-checkbox>
</div>

<!-- INITIAL BUTTONS AT END -->
<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-content-end">
    <div class="d-flex flex-column">
      <button mat-raised-button color="warn" (click)="onDeleteClick()">
        Delete
      </button>
    </div>
    <div class="d-flex flex-column">
      <button mat-raised-button color="primary" (click)="onSaveExitClick()">
        Save
      </button>
    </div>
    <div class="d-flex flex-column">
      <button mat-button (click)="onCancelExitClick()">Cancel</button>
    </div>
  </div>
</div>
