<h2>The following subscriptions will be stopped:</h2>

<div class="d-flex flex-column">
  <mat-table [dataSource]="subscriptions">
    <ng-container matColumnDef="subscription_name">
      <mat-header-cell *matHeaderCellDef>Subscription Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<div class="d-flex flex-column mt-4">
  <div class="d-flex flex-row justify-content-end">
    <div class="d-flex flex-column">
      <button mat-raised-button color="primary" (click)="confirm()">
        Confirm
      </button>
    </div>
    <div class="d-flex flex-column">
      <button mat-flat-button color="basic" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
