.left-section,
.right-section {
  display: flex;
  // background-color: rgba(0,0,0,.2);
  flex-basis: 100%;
  min-height: 5em;
}

.left-section {
  flex-direction: column;
  height: 46em;
  flex-basis: 42em;
}

.right-section {
  // border: solid 1px rgb(60, 111, 142);
  margin: 1em 1em 0em 1em;
  flex-direction: column;
  // margin-bottom: 8em;
}
.close-button {
  display: flex;
  align-self: flex-end;
  margin-left: -5em;
}

.modal-container {
  width: auto;
}

.section-container {
  display: flex;
  flex-direction: row;
  width: 75vw;
}

.template-selected-list,
.template-available-list {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  overflow: hidden;
}
.template-mat-table,
.header-table {
  width: 100%;
}
.template-mat-table {
  border: red;
  overflow: scroll;
}
.header-table {
  width: 100%;
  border: green;
}

.mat-column-deception_score {
  flex: 0 0 20%;
}
.mat-column-deception_name {
  flex: 0 0 80%;
}
.mat-column-add,
.mat-column-remove {
  flex: 0 0 15%;
  margin: auto;
}
.template-table-title {
  width: 6em;
  display: flex;
}
.mat-dialog-container {
  overflow: initial;
}
.score-cell {
  text-align: center;
}
.display-window {
  height: 100%;
}

.template-information {
  margin-bottom: 2em;
  padding-bottom: 2em;
  overflow-y: scroll;
}

.template-information div div {
  margin-left: 1em;
}

.mat-dialog-container {
  overflow: visible !important;
}

.template-select-search-bar {
  margin-left: auto;
}
