.customer-card {
    font-size: 16px !important;
    font-weight: bold;
  }
  
  .customer-card .placeholder {
      font-weight: normal;
      color: #cccccc;
  }
  
  .startButton {
      align-self: right;
  }
  .active_subscription {
      margin-top: 1em
  }