<app-loading-overlay
  [showLoading]="loading"
  [displayText]="loadingText"
></app-loading-overlay>
<div [className]="pageMode == 'CREATE' ? 'inactive' : 'active_subscription'">
  <form *ngIf="subscription" [formGroup]="subscribeForm">
    <div class="d-flex flex-column mb-5">
      <h2>Customer/Organization</h2>
      <div *ngIf="customer" class="d-flex flex-row mb-4">
        <div>
          <mat-card
            *ngIf="!!customer._id"
            class="mt-0 mr-3 mb-1 ml-0 customer-card"
            appearance="outline"
          >
            <input type="hidden" formControlName="selectedCustomerId" />
            <div>
              <div>{{ customer?.name }}</div>
              <div>{{ customer?.identifier }}</div>
              <div>{{ customer?.address_1 }}</div>
              <div>{{ customer?.address_2 }}</div>
              <div>
                {{ customer?.city }}, {{ customer?.state }}
                {{ customer?.zip_code }}
              </div>
            </div>
          </mat-card>

          <div class="mb-3" [class.mt-2]="!customer._id">
            <button
              mat-raised-button
              color="primary"
              *ngIf="pageMode == 'CREATE'"
              (click)="showCustomerDialog()"
            >
              Assign Customer
              <i class="fa fa-search" style="font-size: 1rem"></i>
            </button>
            <mat-error
              *ngIf="f.selectedCustomerId.errors?.required"
              class="invalid-feedback"
            >
              A Customer must be selected
            </mat-error>
          </div>
        </div>

        <div *ngIf="!!customer._id">
          <mat-form-field appearance="outline">
            <mat-label>Primary Contact</mat-label>

            <mat-select
              formControlName="primaryContact"
              (selectionChange)="changePrimaryContact($event)"
            >
              <mat-option [value]="null">--Select--</mat-option>
              <mat-option
                *ngFor="let c of customer?.contact_list"
                [value]="c.email"
              >
                {{ c.first_name }} {{ c.last_name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="f.primaryContact.errors?.required"
              class="invalid-feedback"
            >
              A primary contact must be selected
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Admin Email</mat-label>
            <mat-select formControlName="adminEmail">
              <mat-option [value]="null">--Select--</mat-option>
              <mat-option *ngFor="let c of adminEmails" [value]="c">
                {{ c }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="f.adminEmail.errors?.required"
              class="invalid-feedback"
            >
              Admin email contact must be selected
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Operator Email</mat-label>
            <mat-select formControlName="operatorEmail">
              <mat-option [value]="null">--Select--</mat-option>
              <mat-option *ngFor="let c of adminEmails" [value]="c">
                {{ c }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-label class="h6">Start Date</mat-label>
      <p>Appendix A Date: {{ customer.appendix_a_date | date : "MM/dd/yy" }}</p>
      <div class="text-muted mb-2">
        Based on your local timezone. Use 12h or 24h time format.
      </div>
      <div class="mb-4">
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="startDate"
            [matDatepicker]="picker"
            [min]="startAt"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="startAt"></mat-datepicker>
          <mat-error
            *ngIf="f.startDate.errors?.required"
            class="invalid-feedback"
          >
            Start Date is required
          </mat-error>
          <mat-error
            *ngIf="f.startDate.errors?.matDatepickerMin"
            class="invalid-feedback"
          >
            Start Date cannot be in the past
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="startTime"
            format="24"
            placeholder="HH:MM or HH:MM AM/PM"
          />
        </mat-form-field>
        <mat-error *ngIf="startBeforeAppendixDate" class="invalid-feedback">
          Start Date can not be before the Appendix A Date
        </mat-error>
      </div>

      <div *ngIf="pageMode != 'CREATE'">
        <mat-label class="h6">Safelist Info</mat-label>
        <button
          mat-raised-button
          color="primary"
          class="export-safelist-btn"
          (click)="exportSafelist()"
        >
          <mat-icon>download</mat-icon>
        </button>
        <button
          mat-raised-button
          color="accent"
          class="export-safelist-btn"
          (click)="sendSafelist()"
        >
          <mat-icon>email</mat-icon>
        </button>
        <button
          mat-raised-button
          color="primary"
          class="rotate-header-btn"
          (click)="rotateHeader()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <div class="mb-4">
          <table class="table" style="max-width: 33rem">
            <tr>
              <td>Cisa-Phish</td>
              <td class="text-right" style="color: grey; cursor: default">
                {{ subscription?.phish_header }}
              </td>
            </tr>
            <tr>
              <td>Sending Domains</td>
              <td class="text-right" style="color: grey; cursor: default">
                <div *ngFor="let d of getSendingProfileDomains()">{{ d }}</div>
              </td>
            </tr>
            <tr>
              <td>Sending Ip[s]</td>
              <td class="text-right" style="color: grey; cursor: default">
                <div *ngFor="let i of getSendingProfileIps()">{{ i }}</div>
              </td>
            </tr>
            <tr>
              <td>Current Cycle Templates</td>
              <td class="text-right" style="color: grey; cursor: default">
                <div *ngFor="let i of currentTemplateSubjects">{{ i }}</div>
              </td>
            </tr>
            <tr *ngIf="isContinuous()">
              <td>Next Cycle Templates</td>
              <td class="text-right" style="color: grey; cursor: default">
                <div *ngFor="let i of nextTemplateSubjects">{{ i }}</div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div>
        <mat-form-field
          appearance="outline"
          style="width: 100%; max-width: 20rem"
        >
          <mat-label>Reporting Password</mat-label>
          <input
            matInput
            formControlName="reportingPassword"
            [type]="hideReportingPassword ? 'password' : 'text'"
          />
          <div matSuffix class="d-flex flex-row">
            <mat-icon
              (click)="hideReportingPassword = !hideReportingPassword"
              >{{
                hideReportingPassword ? "visibility_off" : "visibility"
              }}</mat-icon
            >
            <mat-icon (click)="randomizePassword()">refresh</mat-icon>
          </div>
        </mat-form-field>
      </div>

      <mat-label *ngIf="subscription.templates_selected" class="h6"
        >Template Selection
        <mat-icon
          (click)="randomizeTemplates()"
          matTooltip="Randomize Templates"
          class="randomize-button"
          >refresh
        </mat-icon>
      </mat-label>

      <div
        *ngIf="subscription.templates_selected"
        class="template-selction-container"
      >
        <div class="template-selection-level-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Template Subject</th>
                <th scope="col">From Address</th>
                <th scope="col">Deception Level</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of templatesSelected"
                (click)="changeTemplate(item)"
              >
                <td>{{ item.subject }}</td>
                <td>{{ getTemplateFromAddress(item) }}</td>
                <td>
                  {{
                    templateSvc.getDeceptionLevel(item.deception_score)
                      | titlecase
                  }}
                </td>
              </tr>
            </tbody>
          </table>
          <button
            (click)="changeTemplate()"
            mat-raised-button
            color="primary"
            class="change-template-btn"
          >
            Change Templates
          </button>
        </div>
      </div>

      <mat-label class="h6">Sending Profile </mat-label>
      <div class="mb-4">
        <div class="text-muted" *ngIf="sendingProfiles.length > 0">
          Select the sending profile that will be used.
        </div>
        <mat-form-field appearance="outline" *ngIf="sendingProfiles.length > 0">
          <mat-label>Sending Profile</mat-label>
          <mat-select formControlName="sendingProfile">
            <mat-option [value]="null">--Select--</mat-option>
            <mat-option *ngFor="let sp of sendingProfiles" [value]="sp._id">
              {{ sp.name }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="f.sendingProfile.errors?.required"
            class="invalid-feedback"
          >
            Sending Profile required
          </mat-error>
        </mat-form-field>
        <div class="error-color" *ngIf="sendingProfiles.length === 0">
          A Sending Profile is required, but none are currently configured.
          Create one or more Sending Profiles before proceeding.
        </div>
      </div>
      <mat-label class="h6">Landing Page</mat-label>
      <div class="mb-2">
        <div class="text-muted mb-1">
          If a customer hosted landing page is requested, an optional url can be
          provided to redirect clicks after our server is hit for click
          tracking.
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Landing Page Selection</mat-label>
          <mat-select formControlName="landingPage">
            <mat-option [value]="null">Use Template Default</mat-option>
            <mat-option *ngFor="let page of pagesList" [value]="page._id">{{
              page.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <div class="text-muted mb-1">
          Optional link to an external landing page.
        </div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Landing Page URL</mat-label>
          <mat-hint>https://internal.example.org/</mat-hint>
          <input
            matInput
            type="text"
            trim="blur"
            formControlName="landingPageURL"
          />
        </mat-form-field>
      </div>
      <div class="mb-4">
        <div class="text-muted mb-1">
          Optional landing simulated phishing URL.
        </div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Simulated Phishing URL</mat-label>
          <mat-hint>https://internal.example.org/</mat-hint>
          <input
            matInput
            type="text"
            trim="blur"
            formControlName="landingPageDomain"
          />
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-label class="h6">Target Email Domain</mat-label>
        <div class="text-muted">
          Specify the domains that the target emails can be under. Provide a
          list of domains separated by commas.
        </div>
        <div class="text-muted">
          <em>Format: @domainOne.com, @domainTwo.com, @domainThree.com</em>
        </div>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="targetDomain"
            type="text"
            trim="blur"
            [ngClass]="{ 'is-invalid': f.targetDomain.errors }"
          />
          <mat-error
            *ngIf="f.targetDomain.errors?.required"
            class="invalid-feedback"
          >
            Target Email Domain is a a required field
          </mat-error>
          <mat-error
            *ngIf="f.targetDomain.errors?.invalidDomain"
            class="invalid-feedback"
          >
            Must be a valid domain format - '@example.com'
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <div>
          <mat-label class="h6">Target Recipients</mat-label>
        </div>
        <div class="text-muted" *ngIf="f.csvText?.enabled">
          Upload an Excel spreadsheet or comma-separated value text file
          containing the list of target individuals or enter them directly in
          the field below.
        </div>
        <div class="text-muted">
          <em>Format: email, first name, last name, position</em>
        </div>
      </div>

      <div>
        <button
          mat-raised-button
          color="primary"
          class="mb-3"
          *ngIf="f.csvText?.enabled"
          (click)="openFileBrowser($event)"
        >
          Upload Email Targets List <i class="fa fa-upload"></i>
        </button>
        <input
          id="csvUpload"
          type="file"
          accept=".csv,.xls,.xlsx"
          (change)="fileSelect($event)"
          class="d-none"
        />

        <button
          mat-raised-button
          color="primary"
          class="mb-3"
          *ngIf="f.csvText?.enabled"
          (click)="evaluateTargetList(true)"
        >
          Remove Duplicate Emails
        </button>
        <button
          mat-raised-button
          color="primary"
          class="mb-3"
          *ngIf="f.csvText.errors?.invalidEmailFormat"
          (click)="removeInvalidEmails()"
        >
          Remove Invalid Emails
        </button>
      </div>
      <mat-form-field class="w-100 flex-grow-1" appearance="outline">
        <mat-label>Target Emails</mat-label>
        <textarea
          matInput
          rows="10"
          style="overflow: scroll"
          formControlName="csvText"
          [ngClass]="{ 'is-invalid': f.csvText.errors }"
          (change)="targetsChanged($event)"
        >
        </textarea>
        <mat-error
          *ngIf="f.csvText.errors?.invalidEmailFormat"
          class="invalid-feedback"
        >
          One or more email addresses are invalid
        </mat-error>
        <mat-error *ngIf="f.csvText.errors?.required" class="invalid-feedback">
          At least 1 target must be defined
        </mat-error>
        <mat-error
          *ngIf="
            f.csvText.errors?.invalidTargetCsv && !f.csvText.errors?.required
          "
          class="invalid-feedback"
        >
          All target lines must have an email and contain only 4 parts.
        </mat-error>
        <mat-error
          *ngIf="
            f.csvText.errors?.emailDoesntMatchDomain &&
            !f.csvText.errors?.required
          "
          class="invalid-feedback"
        >
          The email {{ this.validationErrors.emailDoesntMatchDomain }} does not
          match any of the domain targets specified in the domain targets field
        </mat-error>
        <mat-error
          *ngIf="
            f.csvText.errors?.noTargetDomain && !f.csvText.errors?.required
          "
          class="invalid-feedback"
        >
          A Target Email Domain must be specified
        </mat-error>
      </mat-form-field>
      <div class="text-muted mb-3">
        <em>Target Count: {{ subscription.target_email_list.length }}</em>
      </div>
      <div class="text-muted">
        *Note while a subscription is actively running, changes to the email
        list will not take effect until the next 90 day cycle.
      </div>

      <!-- Status Report Frequency -->
      <mat-label class="h6" style="margin-top: 25px"
        >Status Report Frequency</mat-label
      >
      <div class="mb-4">
        <div class="text-muted">
          The frequency at which the status report is sent out to the customer
          and CISA contact for this subscription. (Must be between 15 minutes
          and 360 days)
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Time</mat-label>
          <input
            matInput
            formControlName="reportDisplayTime"
            type="text"
            trim="blur"
          />
          <mat-error
            *ngIf="f.reportDisplayTime.errors?.outOfRange"
            class="invalid-feedback"
          >
            Must be between 15 minutes and 360 days
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Time Units</mat-label>
          <mat-select formControlName="reportTimeUnit">
            <mat-option *ngFor="let time of timeRanges" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-label class="h6">Sending Strategy</mat-label>
      <p>
        Please note, for continuous subscriptions that are currently in
        progress, any modifications to the Sending Strategy fields below will
        reflect on the next cycle.
      </p>

      <div class="continuous-subscription-checkbox">
        <mat-checkbox formControlName="continuousSubscription"
          >Continuous Subscription Cycles</mat-checkbox
        >
      </div>

      <!-- Email Sent Time -->
      <mat-label class="h7" style="margin-top: 10px">Email Sent Time</mat-label>
      <div class="mb-2">
        <div class="text-muted">
          The time that all emails will be sent within. (Must be between 15
          minutes and 360 days)
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Time</mat-label>
          <input
            matInput
            formControlName="subDisplayTime"
            type="text"
            trim="blur"
          />
          <mat-error
            *ngIf="f.subDisplayTime.errors?.required"
            class="invalid-feedback"
          >
            Run time is a required field
          </mat-error>
          <mat-error
            *ngIf="f.subDisplayTime.errors?.outOfRange"
            class="invalid-feedback"
          >
            Must be between 15 minutes and 360 days
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="sendingProfiles.length > 0">
          <mat-label>Time Units</mat-label>
          <mat-select formControlName="subTimeUnit">
            <mat-option *ngFor="let time of timeRanges" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="text-muted">
          <p>
            This subscription's hourly sending rate will be {{ hourlyRate }} and
            daily rate will be {{ dailyRate }}.
          </p>

          <p>
            The current daily rate across all subscriptions is
            {{ currentDailyRate }}.
          </p>
        </div>
        <div class="error-color mb-3" *ngIf="!isValidConfig">
          {{ validConfigMessage }}
        </div>
        <div class="error-color" *ngIf="!isValidConfig">
          <mat-checkbox (change)="setIgnoreConfigError($event)">
            I understand that this configuration does not fall within
            recommended email sending guidelines, but would like to continue
            anyway.
          </mat-checkbox>
        </div>
      </div>
      <!-- Cooldown Period -->
      <mat-label class="h7">Cooldown Period</mat-label>
      <div class="mb-4">
        <div class="text-muted">
          The amount of time that links stay active to allow for user clicks.
          (Must be between 15 minutes and 360 days)
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Time</mat-label>
          <input
            matInput
            formControlName="cooldownDisplayTime"
            type="text"
            trim="blur"
          />
          <mat-error
            *ngIf="f.cooldownDisplayTime.errors?.outOfRange"
            class="invalid-feedback"
          >
            Must be between 15 minutes and 360 days
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Time Units</mat-label>
          <mat-select formControlName="cooldownTimeUnit">
            <mat-option *ngFor="let time of timeRanges" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Buffer Time -->
      <mat-label class="h7" *ngIf="isContinuous()">Buffer Time</mat-label>
      <div class="mb-2">
        <div class="text-muted" *ngIf="isContinuous()">
          Time added to create a buffer at the end date of each cycle. (Must be
          between 15 minutes and 30 days)
        </div>
        <mat-form-field appearance="outline" *ngIf="isContinuous()">
          <mat-label>Time</mat-label>
          <input
            matInput
            formControlName="bufferDisplayTime"
            type="text"
            trim="blur"
          />
          <mat-error
            *ngIf="f.bufferDisplayTime.errors?.outOfRange"
            class="invalid-feedback"
          >
            Must be between 15 minutes and 30 days
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="isContinuous()">
          <mat-label>Time Units</mat-label>
          <mat-select formControlName="bufferTimeUnit">
            <mat-option *ngFor="let time of timeRanges" [value]="time">
              {{ time }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="text-muted">
          <p>
            All emails will be sent by {{ sendBy | date : "long" }} and the
            cycle will be completed on {{ endDate | date : "long" }}.
          </p>
        </div>
      </div>

      <div *ngIf="isContinuous()">
        <mat-label class="h6" style="margin-top: 2rem"
          >Next Cycle Date</mat-label
        >
        <p>
          For your information, the next cycle is scheduled to automatically
          start on {{ nextCycleDate | date : "long" }}
        </p>
      </div>

      <div class="d-flex flex-row-reverse justify-content-between">
        <div class="d-flex flex-row">
          <!-- DROP DOWN MENU BUTTON -->
          <button
            mat-raised-button
            color="accent"
            [matMenuTriggerFor]="menu"
            *ngIf="pageMode === 'EDIT'"
          >
            Actions<mat-icon>arrow_drop_up</mat-icon>
          </button>
          <mat-menu xPosition="before" yPosition="above" #menu="matMenu">
            <button
              mat-menu-item
              (click)="startSubscription()"
              *ngIf="
                (subscription?.status == 'stopped' ||
                  subscription?.status == 'created') &&
                !subscription?.archived
              "
            >
              <mat-icon color="primary">play_arrow</mat-icon>Launch
            </button>
            <button
              mat-menu-item
              (click)="stopSubscription()"
              *ngIf="
                subscription?.status != 'stopped' &&
                subscription?.status != 'created'
              "
            >
              <mat-icon color="accent">stop</mat-icon>Stop
            </button>
            <delete-subscription
              [subscription]="subscription"
            ></delete-subscription>
            <button
              mat-menu-item
              (click)="archiveSubscription()"
              *ngIf="
                subscription?.status === 'stopped' && !subscription?.archived
              "
            >
              <mat-icon>archive</mat-icon>Archive
            </button>
            <button
              mat-menu-item
              (click)="unarchiveSubscription()"
              *ngIf="subscription?.archived"
            >
              <mat-icon>unarchive</mat-icon>Unarchive Subscription
            </button>
          </mat-menu>
          <!-- START/CREATE BUTTON -->
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!isValidConfig && !ignoreConfigError"
            (click)="save()"
          >
            <div *ngIf="pageMode === 'CREATE'">Create Subscription</div>
            <div *ngIf="pageMode === 'EDIT'">Save Subscription</div>
          </button>
        </div>
        <div class="bottom-errors">
          <mat-error
            style="display: flex"
            *ngIf="f.selectedCustomerId.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            A Customer must be selected
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.primaryContact.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            A primary contact must be selected
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.adminEmail.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            Admin email contact must be selected
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.startDate.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            Start Date is required
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.startDate.errors?.matDatepickerMin && this.submitted"
            class="invalid-feedback"
          >
            Start Date cannot be in the past
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.sendingProfile.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            Sending Profile required
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.targetDomain.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            Target Email Domain is a a required field
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.targetDomain.errors?.invalidDomain && this.submitted"
            class="invalid-feedback"
          >
            Must be a valid domain format - '@example.com'
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.csvText.errors?.invalidEmailFormat && this.submitted"
            class="invalid-feedback"
          >
            One or more email addresses are invalid
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.csvText.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            At least 1 target must be defined
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="
              f.csvText.errors?.invalidTargetCsv &&
              !f.csvText.errors?.required &&
              this.submitted
            "
            class="invalid-feedback"
          >
            All target lines must have an email and contain only 4 parts.
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="
              f.csvText.errors?.emailDoesntMatchDomain &&
              !f.csvText.errors?.required &&
              this.submitted
            "
            class="invalid-feedback"
          >
            The email {{ this.validationErrors.emailDoesntMatchDomain }} does
            not match any of the domain targets specified in the domain targets
            field
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="
              f.csvText.errors?.noTargetDomain &&
              !f.csvText.errors?.required &&
              this.submitted
            "
            class="invalid-feedback"
          >
            A Target Email Domain must be specified
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.subDisplayTime.errors?.required && this.submitted"
            class="invalid-feedback"
          >
            Run time is a required field
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.subDisplayTime.errors?.outOfRange && this.submitted"
            class="invalid-feedback"
          >
            Send time must be between 15 minutes and 360 days
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.cooldownDisplayTime.errors?.outOfRange && this.submitted"
            class="invalid-feedback"
          >
            Cooldown time must be between 15 minutes and 360 days
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="f.reportDisplayTime.errors?.outOfRange && this.submitted"
            class="invalid-feedback"
          >
            Report time must be between 15 minutes and 360 days
          </mat-error>
          <mat-error
            style="display: flex"
            *ngIf="startBeforeAppendixDate"
            class="invalid-feedback"
          >
            Start Date can not be before the Appendix A Date
          </mat-error>
        </div>
      </div>

      <mat-progress-spinner
        *ngIf="processing"
        class="spinner mt-3"
        diameter="25"
        mode="indeterminate"
      >
      </mat-progress-spinner>
    </div>
  </form>
</div>
