<div class="modal-container d-flex remove-emails-container">
  <div class="d-flex flex-column">
    <div class="d-flex">
      <h1 class="d-flex" mat-dialog-title>Remove Invalid Emails</h1>
    </div>
    <div mat-dialog-content class="d-flex">
      <!-- Dialog Here -->
      <div class="d-flex">
        There {{ inputData.length > 1 ? "are" : "is" }}
        {{ inputData.length }} invalid emails in your current target recipient
        list. Expand the list below to view invalid emails, or select 'Remove
        All' to clean the list of all invalid emails.
      </div>
    </div>
    <mat-accordion class="invalid-email-list-accordion">
      <mat-expansion-panel
        (closed)="panelOpenState = false"
        (opened)="panelOpenState = true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Invalid emails </mat-panel-title>
          <mat-panel-description>
            {{
              panelOpenState ? "Click here to collapse" : "Click here to expand"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li class="d-flex flex-row">
            <div class="d-flex invalid-email-val">
              <b>Email As In List</b>
            </div>
            <div class="d-flex invalid-email-checkbox">
              <b>Select To Remove</b>
            </div>
          </li>
        </ul>
        <ul class="email-list">
          <li
            *ngFor="let invalidEmailItem of inputData"
            class="d-flex flex-row email-list-item"
          >
            <div class="d-flex invalid-email-val">
              {{ invalidEmailItem["val"] }}
            </div>
            <div class="d-flex invalid-email-checkbox">
              <mat-checkbox
                class="example-margin"
                [(ngModel)]="invalidEmailItem.remove"
              >
              </mat-checkbox>
            </div>
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="d-flex close-button">
      <button
        mat-button
        *ngIf="panelOpenState"
        color="primary"
        [mat-dialog-close]="removeSelected()"
        cdkFocusInitial
      >
        Remove Selected
      </button>
      <button
        mat-button
        color="primary"
        [mat-dialog-close]="removeAll()"
        cdkFocusInitial
      >
        Remove All
      </button>
      <button
        mat-button
        color="basic"
        [mat-dialog-close]="close()"
        cdkFocusInitial
      >
        Cancel
      </button>
      <div class="d-flex close-button"></div>
    </div>
  </div>
</div>
