# Angular
NODE_ENV=dev
API_URL=http://localhost:8000
API_URL_HEADLESS=http://pca-api:8000

# COGNITO
AWS_PROJECT_REGION=
AWS_COGNITO_IDENTITY_POOL_ID=
AWS_COGNITO_REGION=
AWS_USER_POOLS_ID=
AWS_USER_POOLS_WEB_CLIENT_ID=
OAUTH_DOMAIN=
OAUTH_REDIRECT_URL=