.small-table-column {
  width: 1em;
}

.centered-text {
  text-align: center;
}

.large-column {
  width: 33%;
}

.non-human-column {
  width: 7em;
}

.asn-org {
  width: 20%;
  max-width: 20em;
  word-break: break-word;
}
