<app-loading-overlay
  [showLoading]="loading"
  [displayText]="loadingText"
></app-loading-overlay>
<mat-card *ngIf="dataAvailable" class="mb-4">
  <!-- <mat-card-header>
    <mat-card-title style="margin-left: -16px !important">
      Statistics For Current Cycle
    </mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    <div *ngIf="chart && chartSent" class="d-flex flex-column">
      <div style="max-height: 200px; margin-bottom: 1rem">
        <h4>Statistics By Level</h4>
        <ngx-charts-bar-vertical-2d
          [results]="chart.chartResults"
          [scheme]="chart.colorScheme"
          [gradient]="chart.gradient"
          [xAxis]="chart.showXAxis"
          [showXAxisLabel]="chart.showXAxisLabel"
          [xAxisLabel]="chart.xAxisLabel"
          [yAxis]="chart.showYAxis"
          [showYAxisLabel]="chart.showYAxisLabel"
          [yAxisLabel]="chart.yAxisLabel"
          [yAxisTickFormatting]="axisFormat"
          [legend]="chart.showLegend"
          [legendPosition]="chart.legendPosition"
          [legendTitle]="''"
          [roundEdges]="false"
        >
        </ngx-charts-bar-vertical-2d>
      </div>

      <div class="d-block mb-4 w-100" style="max-height: 100px">
        <h4>Number of Emails Sent</h4>
        <ngx-charts-bar-horizontal-stacked
          [results]="chartSent.chartResults"
          [scheme]="chartSent.colorScheme"
          [gradient]="chartSent.gradient"
          [xAxis]="chartSent.showXAxis"
          [yAxis]="chartSent.showYAxis"
          [legend]="chartSent.showLegend"
          [showXAxisLabel]="chartSent.showXAxisLabel"
          [xAxisTickFormatting]="axisFormat"
          [showYAxisLabel]="chartSent.showYAxisLabel"
          [xAxisLabel]="chartSent.xAxisLabel"
          [yAxisLabel]="chartSent.yAxisLabel"
        >
        </ngx-charts-bar-horizontal-stacked>
      </div>

      <div class="mb-4">
        Number of Templates in Use: {{ cycleStats.template_stats.length }}
      </div>

      <h4>Response Statistics</h4>
      <div>
        Average Time to First Click:
        {{
          cycleStats.stats.all.clicked.average * 1000
            | date: "m 'minutes and' s 'seconds'"
        }}
      </div>
      <div>
        Aggregate Count:
        <ul>
          <li>Sent: {{ cycleStats.stats.all.sent.count }}</li>
          <li>Opened: {{ cycleStats.stats.all.opened.count }}</li>
          <li>Clicked: {{ cycleStats.stats.all.clicked.count }}</li>
        </ul>
      </div>
      <div>
        <h4>Template Statistics</h4>
        <ul>
          <li *ngFor="let template of cycleStats.template_stats">
            {{ template.clicked.rank }} - {{ template.template.name }}
            <a [routerLink]="['/templatemanager', template.template_uuid]">{{
              template.template.subject
            }}</a>
            ({{ template.deception_level }})
            <ul>
              <li>Sent: {{ template.sent.count }}</li>
              <li>Clicks: {{ template.clicked.count }}</li>
              <li>Click Rate: {{ template.clicked.ratio * 100 }}%</li>
            </ul>
          </li>
        </ul>
      </div>
      <div *ngIf="cycleStats.maxmind_stats.length > 0">
        <h4>IP Statistics</h4>
        <table class="table">
          <tr>
            <th class="asn-org">ASN Org</th>
            <th class="large-column">Ip Addresses</th>
            <th class="large-column">Cities</th>
            <th class="small-table-column">Opens</th>
            <th class="small-table-column">Clicks</th>
            <th class="non-human-column">Non-Human</th>
          </tr>
          <tr *ngFor="let item of cycleStats.maxmind_stats">
            <td class="asn-org">{{ item.asn_org }}</td>
            <td>
              <span *ngFor="let ip of item.ips; let last = last"
                >{{ ip }}{{ last ? "" : "," }}
              </span>
            </td>
            <td>
              <span *ngFor="let city of item.cities; let last = last"
                >{{ city }}{{ last ? "" : "," }}
              </span>
            </td>
            <td class="centered-text">{{ item.opens }}</td>
            <td class="centered-text">{{ item.clicks }}</td>
            <td>{{ item.is_nonhuman }}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
