<div class="container-fluid">
  <!-- Search Bar -->
  <div class="d-flex flex-row flex-grow-1">
    <div class="d-flex flex-column w-100">
      <mat-form-field class="search-bar" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="searchFilter($event)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="d-inline-flex flex-column ml-2">
      <button mat-raised-button color="primary" routerLink="/customers">New Contact</button>
    </div>
  </div>

  <div *ngIf="loading" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;">
    <mat-spinner class="spinner" style="margin-left: auto; margin-right: auto;" diameter="50" ></mat-spinner>
  </div>

  <!-- Contacts Table -->
  <mat-table [dataSource]="dataSource" *ngIf="!loading">   

    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.first_name }} </mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.last_name }} </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
    </ng-container>
    
    <!-- Company Name Column -->
    <ng-container matColumnDef="customer_name">
      <mat-header-cell *matHeaderCellDef>Company/Org Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.customer_name}} </mat-cell>
    </ng-container>
    
    <!-- Primary Contact Column -->
    <ng-container matColumnDef="primary_contact">
      <mat-header-cell *matHeaderCellDef>Primary Contact</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.primary_contact }} </mat-cell>
    </ng-container>

    <!-- Office Phone Number Column -->
    <ng-container matColumnDef="office_phone">
      <mat-header-cell *matHeaderCellDef>Office Phone</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.office_phone }} </mat-cell>
    </ng-container>

    <!-- Mobile Phone Number Column -->
    <ng-container matColumnDef="mobile_phone">
      <mat-header-cell *matHeaderCellDef>Mobile Phone</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.mobile_phone }} </mat-cell>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef class="text-center">Active</mat-header-cell>
      <mat-cell class="text-center" *matCellDef="let row"> <i *ngIf="row.active" class="fa fa-check"></i> </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="text-right"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="text-right">
        <button
          class="table-btn-icon"
          mat-flat-button
          color="primary"
          (click)="openViewDialog(row)"
        >
          <mat-icon class="table-btn-icon-size">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row 
      *matRowDef="let row; columns: displayedColumns"
      class="table-row cursor-pointer"
      (click)="openViewDialog(row)"
      >
    </mat-row>
  </mat-table>
</div>
