<div class="table-list-header flex">
  <div class="search-bar flex">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        (keyup)="filterList($event.target.value)"
        matInput
        placeholder="Search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
<div
  *ngIf="loading"
  style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
>
  <mat-spinner
    class="spinner"
    style="margin-left: auto; margin-right: auto"
    diameter="50"
  ></mat-spinner>
</div>
<mat-table [hidden]="loading" [dataSource]="users" matSort>
  <!-- Username -->
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Username</mat-header-cell
    >
    <mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >User Status</mat-header-cell
    >
    <mat-cell *matCellDef="let row">
      <div *ngIf="row.status == 'CONFIRMED'">confirmed</div>
      <div *ngIf="row.status == 'RESET_REQUIRED'">reset required</div>
      <div *ngIf="row.status == 'FORCE_CHANGE_PASSWORD'">
        change password required
      </div>
      <button
        *ngIf="row.status == 'UNCONFIRMED'"
        mat-raised-button
        color="accent"
        (click)="confirmUser(row.username)"
      >
        Confirm User
      </button>
    </mat-cell>
  </ng-container>

  <!-- User Created Date -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Created Date</mat-header-cell
    >
    <mat-cell *matCellDef="let row">{{
      row.created | date: "MM/dd/yy"
    }}</mat-cell>
  </ng-container>

  <!-- User Last Login Time -->
  <ng-container matColumnDef="last_login">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Last Login</mat-header-cell
    >
    <mat-cell *matCellDef="let row">{{
      row.last_login | date: "medium"
    }}</mat-cell>
  </ng-container>

  <!-- Delete -->
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button
        color="warn"
        mat-flat-button
        class="table-btn-icon"
        (click)="deleteUser(row.username)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Header Info -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    class="table-row"
    *matRowDef="let row; columns: displayedColumns"
  ></mat-row>
</mat-table>
