<ngx-charts-line-chart
  [view]=""
  [scheme]="this.chart.colorScheme"
  [results]="this.chart.chartResults"
  [gradient]="this.chart.gradient"
  [xAxis]="this.chart.showXAxis"
  [yAxis]="this.chart.showYAxis"
  [legend]="this.chart.showLegend"
  [legendPosition]="this.chart.legendPosition"
  [showXAxisLabel]="this.chart.showXAxisLabel"
  [showYAxisLabel]="this.chart.showYAxisLabel"
  [xAxisLabel]="this.chart.xAxisLabel"
  [yAxisLabel]="this.chart.yAxisLabel"
  [xAxisTickFormatting]="this.dateTickFormatting"
>
</ngx-charts-line-chart>
