<div class="container-fluid">
  <div class="d-flex flex-row flex-grow-1">
    <!-- SEARCH BAR -->
    <mat-form-field class="d-flex flex-column w-100" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        [(ngModel)]="search_input"
        (keyup)="filterTemplates($event.target.value)"
        matInput
        placeholder="Search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <!-- CREATE TEMPLATE -->
    <div class="d-inline-flex flex-column ml-2">
      <div class="d-flex">
        <button mat-raised-button color="primary" routerLink="/templatemanager">
          New Template
        </button>
        <button
          style="width: 1em"
          mat-raised-button
          color="primary"
          (click)="downloadTemplatesJSON()"
        >
          <mat-icon>download</mat-icon>
        </button>
        <button
          [disabled]="!selection.hasValue()"
          mat-raised-button
          color="accent"
          [matMenuTriggerFor]="menu"
        >
          Actions<mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu xPosition="before" yPosition="below" #menu="matMenu">
          <button
            mat-menu-item
            *ngIf="!showRetired"
            (click)="retireTemplates()"
          >
            <mat-icon color="warn">archive</mat-icon>Retire
          </button>
          <button
            mat-menu-item
            *ngIf="showRetired"
            (click)="restoreTemplates()"
          >
            <mat-icon color="warn">unarchive</mat-icon>Restore
          </button>
          <button mat-menu-item (click)="duplicateTemplate()">
            <mat-icon color="basic">file_copy</mat-icon>Duplicate
          </button>
          <button mat-menu-item (click)="testTemplates()">
            <mat-icon color="primary">email</mat-icon>Test
          </button>
        </mat-menu>
      </div>
      <div class="d-flex flex-row-reverse mb-2">
        <mat-slide-toggle
          class="mt-1 ml-1 mr-1"
          [(ngModel)]="showRetired"
          (change)="onRetiredToggle()"
        >
          Show Retired
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto"
        diameter="50"
      ></mat-spinner>
    </div>

    <!-- TEMPLATES TABLE -->
    <mat-table [hidden]="loading" [dataSource]="templatesData" matSort>
      <!-- Select -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- NAME -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Template Name</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="editTemplate(row)">{{
          row.name
        }}</mat-cell>
      </ng-container>
      <!-- DECEPTION SCORE -->
      <ng-container matColumnDef="deception_score">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Deception Score</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="editTemplate(row)">{{
          row.deception_score
        }}</mat-cell>
      </ng-container>
      <!-- SENDING PROFILE DOMAIN -->
      <ng-container matColumnDef="sending_profile_domain">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{
          row.sending_profile_domain
        }}</mat-cell>
      </ng-container>
      <!-- CREATED BY -->
      <ng-container matColumnDef="created_by">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Created By</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="editTemplate(row)">{{
          row.created_by
        }}</mat-cell>
      </ng-container>
      <!-- RETIRED -->
      <ng-container matColumnDef="retired">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Retired</mat-header-cell
        >
        <mat-cell *matCellDef="let row" (click)="editTemplate(row)"
          ><i *ngIf="row.retired" class="fa fa-check"></i>
        </mat-cell>
      </ng-container>

      <!-- Edit -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            class="table-btn-icon"
            mat-flat-button
            color="primary"
            (click)="editTemplate(row)"
          >
            <mat-icon class="table-btn-icon-size">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row cursor-pointer"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
  </div>
</div>
