<mat-tab-group
  (selectedTabChange)="onTabChanged($event)"
  [selectedIndex]="selectedTabIndex"
>
  <mat-tab label="Aggregate Statistics">
    <app-aggregate-statistics-tab></app-aggregate-statistics-tab>
  </mat-tab>
  <mat-tab label="Subscription Status">
    <app-subscription-status-tab></app-subscription-status-tab>
  </mat-tab>
  <mat-tab label="Logging Errors">
    <app-logging-tab></app-logging-tab>
  </mat-tab>
  <mat-tab label="Failed Emails">
    <app-failed-emails-tab></app-failed-emails-tab>
  </mat-tab>
  <mat-tab label="Utilities">
    <app-utilities-tab></app-utilities-tab>
  </mat-tab>
</mat-tab-group>
