<h1>Add New Contact</h1>

<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        [(ngModel)]="addContactFirstName"
        placeholder="First Name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        matInput
        trim="blur"
        type="text"
        [(ngModel)]="addContactLastName"
        placeholder="Last Name"
      />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Position</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="addContactTitle"
      placeholder="Position"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Customer/Organization</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="addContactCustomer"
      placeholder="Customer"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="addContactPhone"
      placeholder="(222)222-2222"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      trim="blur"
      type="text"
      [(ngModel)]="addContactEmail"
      placeholder="Email@exmaple.com"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Notes</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      [(ngModel)]="addContactNotes"
      placeholder="Special Notes"
    ></textarea>
  </mat-form-field>
  <div>
    <mat-checkbox [(ngModel)]="isPrimary">
      <mat-label>Primary Contact</mat-label>
    </mat-checkbox>
  </div>

  <div class="d-flex flex-row justify-content-end">
    <div class="d-flex flex-column">
      <button mat-button (click)="onCancelClick()">Cancel</button>
    </div>
    <div class="d-flex flex-column">
      <button mat-raised-button color="primary" (click)="onSaveClick()">
        Save Contact
      </button>
    </div>
  </div>
</div>
