<h3>Select a Tag to Insert</h3>

<div style="max-height: 50vh; overflow: auto;">
  <table class="table-1">
    <tr
      *ngFor="let t of templateManagerSvc.tags"
      class="cursor-pointer"
      (click)="dialogRef.close(t.tag)"
    >
      <td>
        {{ t.tag }}
      </td>
      <td>
        {{ t.description }}
      </td>
    </tr>
  </table>
</div>
<div class="mt-3 d-flex flex-row justify-content-end">
  <button mat-flat-button color="basic" (click)="onCancelClick()">
    Cancel
  </button>
</div>
