<div *ngIf="subscription['cycles']" class="w-100">
  <mat-card>
    <mat-card-title>Cycles</mat-card-title>
    <div class="cycle-select-wrapper" *ngIf="subscription">
      <mat-form-field
        class="cycle-select-dropdown"
        *ngIf="subscription.cycles"
        appearance="outline"
      >
        <mat-label>Cycle</mat-label>
        <mat-select
          [(value)]="selectedCycle"
          (selectionChange)="cycleChange($event)"
        >
          <mat-option *ngFor="let c of subscription.cycles" [value]="c">
            {{ c.start_date | UTCtoReadableTime }} -
            {{ c.end_date | UTCtoReadableTime }} ({{ c.target_count }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="pageRefresh()">
      Refresh
      <mat-icon class="table-btn-icon-size">autorenew</mat-icon>
    </button>
    <delete-cycle [cycle]="selectedCycle"></delete-cycle>
    <div class="flex flex-row">
      Include Non-Human Interactions:
      <mat-slide-toggle
        [(ngModel)]="includeNonhuman"
        (change)="showNonHuman($event)"
      ></mat-slide-toggle>
    </div>
  </mat-card>
  <mat-card>
    <app-loading-overlay
      [showLoading]="downloadingSubscription"
      [displayText]="downloadingText"
    ></app-loading-overlay>
    <mat-card-title>Subscription Information</mat-card-title>
    <div class="text-muted">
      Download top level data associated with this subscription
    </div>
    <button
      mat-raised-button
      color="primary"
      class="mb-3"
      (click)="exportSubscriptionData(); $event.preventDefault()"
    >
      Export Subscription Data
    </button>
  </mat-card>
  <mat-card>
    <app-loading-overlay
      [showLoading]="downloadingCycle"
      [displayText]="downloadingText"
    ></app-loading-overlay>
    <mat-card-title>Cycle Information</mat-card-title>
    <table class="table" style="max-width: 33rem">
      <tr>
        <td>Cycle-Id</td>
        <td>{{ selectedCycle?._id }}</td>
      </tr>
      <tr>
        <td>Active</td>
        <td>{{ selectedCycle?.active }}</td>
      </tr>
      <tr>
        <td>Cisa-Phish</td>
        <td>{{ selectedCycle?.phish_header }}</td>
      </tr>
    </table>
    <div class="text-muted">Download all data associated with this cycle</div>
    <button
      mat-raised-button
      color="primary"
      class="mb-3"
      style="margin-top: 10px"
      (click)="downloadCycleData(); $event.preventDefault()"
    >
      Download Cycle Data
    </button>
  </mat-card>
  <mat-card>
    <app-loading-overlay
      [showLoading]="generating"
      [displayText]="generatingText"
    ></app-loading-overlay>
    <mat-card-title>PDF Reports</mat-card-title>

    <table class="table" style="max-width: 14rem">
      <thead>
        <tr>
          <th>Type</th>
          <th>Download</th>
          <th>Send</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of ['status', 'cycle']">
          <th>{{ t | titlecase }}</th>
          <td>
            <button
              [disabled]="
                subscription.status == 'created' ||
                (selectedCycle.active && t == 'cycle')
                  ? true
                  : null
              "
              mat-raised-button
              color="primary"
              (click)="downloadReport(t); $event.preventDefault()"
            >
              <mat-icon>cloud_download</mat-icon>
            </button>
          </td>
          <td>
            <button
              [disabled]="
                subscription.status == 'created' ||
                (selectedCycle.active && t == 'cycle')
                  ? true
                  : null
              "
              mat-raised-button
              color="accent"
              (click)="sendReport(t); $event.preventDefault()"
            >
              <mat-icon>email</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>

  <app-sub-dashboard></app-sub-dashboard>

  <mat-card *ngIf="display_timeline">
    <div>
      <h4>Subscription Timeline</h4>
      <div class="text-muted" style="margin-bottom: 50px">
        Hover over dots for event information
      </div>
      <div style="margin: 0 2rem 2rem 2rem">
        <app-svg-timeline [timelineItems]="timelineItems"></app-svg-timeline>
      </div>
    </div>
  </mat-card>
  <mat-card [formGroup]="reportedStatsForm">
    <mat-card-title>Reported Phishing Emails</mat-card-title>
    <div class="text-muted">
      Manually add target emails that have reported a phishing email.
    </div>
    <div class="text-muted">
      <em>Format: email@example.com, 6/15/19 10:54 PM (M/d/yy h:mm a)</em>
    </div>
    <mat-form-field class="w-100 flex-grow-1" appearance="outline">
      <mat-label>Reports</mat-label>
      <textarea
        matInput
        rows="10"
        style="overflow: scroll"
        formControlName="reportedItems"
      ></textarea>
      <mat-error
        *ngIf="f.reportedItems.hasError('invalidEmailFormat')"
        class="invalid-feedback"
      >
        Email address not in useable format :
        {{ validationErrors.invalidEmailFormat }}
      </mat-error>
      <mat-error
        *ngIf="f.reportedItems.hasError('invalidDateFormat')"
        class="invalid-feedback"
      >
        Invalid Date Time : {{ validationErrors.invalidDateFormat }}
      </mat-error>
      <mat-error
        *ngIf="f.reportedItems.hasError('invalidTargetCsv')"
        class="invalid-feedback"
      >
        All target lines must have all parts: Line {{ reportListErrorLineNum }}
      </mat-error>
      <mat-error
        *ngIf="f.reportedItems.hasError('duplicateEmail')"
        class="invalid-feedback"
      >
        Cant not contain duplicate emails: {{ validationErrors.duplicateEmail }}
      </mat-error>
    </mat-form-field>
    <div style="text-align: end">
      <button mat-raised-button color="primary" (click)="saveManualReports()">
        Save Reports
      </button>
    </div>
  </mat-card>
</div>
<div *ngIf="!subscription['cycles']" class="w-100">
  <mat-card>
    <mat-card-title> Statistics </mat-card-title>
    Statistics will be shown once a campaign has begun
  </mat-card>
</div>
