<div class="container-fluid">
  <h2 class="mt-2">Failed Emails</h2>
  <p>Emails that have failed to be delivered will be displayed below.</p>
  <p *ngIf="!success">
    <b>Warning:</b> Not all sending profiles were checked for failed emails
    successfully. See Logging Errors tab for more details.
  </p>
  <div class="flex-container">
    <!-- SEARCH BAR -->
    <div class="d-flex flex-column w-100">
      <mat-form-field class="d-flex flex-column w-80" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          [(ngModel)]="search_input"
          (keyup)="filterEmails($event.target.value)"
          matInput
          placeholder="Search"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      (click)="pageRefresh()"
      style="width: 120px; height: 50px"
    >
      Refresh
      <mat-icon class="table-btn-icon-size">autorenew</mat-icon>
    </button>
    <button
      style="width: 65px; height: 50px"
      mat-raised-button
      color="primary"
      (click)="downloadFailedEmailsJSON()"
    >
      <mat-icon>download</mat-icon>
    </button>
    <button
      [disabled]="!selection.hasValue()"
      mat-raised-button
      color="accent"
      [matMenuTriggerFor]="menu"
      style="width: 120px; height: 50px"
    >
      Actions<mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu xPosition="before" yPosition="below" #menu="matMenu">
      <div
        matTooltip="Remove the selected email addresses from this list and from the target lists of every subscription."
        matTooltipPosition="right"
        matTooltipShowDelay="0"
      >
        <button mat-menu-item (click)="removeEmails()">
          <mat-icon color="warn">archive</mat-icon>Remove
        </button>
      </div>
    </mat-menu>
  </div>
  <div class="col p-0 w-100">
    <div
      *ngIf="loading"
      style="text-align: center; padding-top: 2rem; padding-bottom: 2rem"
    >
      <mat-spinner
        class="spinner"
        style="margin-left: auto; margin-right: auto"
        diameter="50"
      ></mat-spinner>
    </div>
    <!-- TABLE -->
    <mat-table
      #failedTable
      [dataSource]="failedSource"
      [hidden]="loading"
      matSort
    >
      <!-- Select -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- ADDRESS -->
      <ng-container matColumnDef="recipient_address">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Address</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <td *ngIf="row.recipient_address != null">
            {{ row.recipient_address }}
          </td>
          <td *ngIf="row.recipient_address == null">{{ row.recipient }}</td>
        </mat-cell>
      </ng-container>
      <!-- DOMAIN -->
      <ng-container matColumnDef="recipient_domain">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Domain</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.recipient_domain }}</mat-cell>
      </ng-container>
      <!-- SENT TIME -->
      <ng-container matColumnDef="sent_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Sent Time</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          {{ row.sent_time | date : "medium" }}</mat-cell
        >
      </ng-container>
      <!-- ERROR TYPE -->
      <ng-container matColumnDef="error_type">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Error Type</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.error_type }}</mat-cell>
      </ng-container>
      <!-- REASON -->
      <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Reason</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.reason }}</mat-cell>
      </ng-container>

      <!-- HEADER ROW -->
      <mat-header-row
        *matHeaderRowDef="failedDisplayedColumns"
      ></mat-header-row>

      <!-- ROW DEFINITION -->
      <mat-row
        *matRowDef="let row; columns: failedDisplayedColumns"
        class="table-row cursor-pointer"
      >
      </mat-row>
    </mat-table>
  </div>
</div>
