<mat-card>
  <h2>Other Pages</h2>
  <button mat-raised-button color="primary" routerLink="/aggreg-stats">
    Aggregate Statistics
  </button>
</mat-card>
<mat-card>
  <h2>Non-Human Orgs</h2>
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let org of orgs">
        <td>{{ org }}</td>
        <td>
          <button mat-raised-button color="warn" (click)="deleteOrg(org)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-form-field appearance="outline">
    <mat-label>ASN Org</mat-label>
    <input matInput trim="blur" type="text" [(ngModel)]="newOrg" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addOrg()">Add Org</button>
</mat-card>
