<div class="container-fluid">
  <h2 class="mt-2">Utilities</h2>
  <h3>Contacts for All Customers</h3>
  <button
    style="width: 1em"
    mat-raised-button
    color="primary"
    (click)="downloadContactsDSV()"
  >
    <mat-icon>download</mat-icon>
  </button>
  <h3>Overdue Tasks</h3>
  <button
    style="width: 1em"
    mat-raised-button
    color="primary"
    (click)="downloadOverdueTasksDSV()"
  >
    <mat-icon>download</mat-icon>
  </button>
  <h3>Overdue Subscriptions</h3>
  <button
    style="width: 1em"
    mat-raised-button
    color="primary"
    (click)="downloadOverdueSubscriptionsDSV()"
  >
    <mat-icon>download</mat-icon>
  </button>
</div>
