<style scoped>
  .mat-form-field {
    width: 100%;
  }
</style>

<div class="p-3">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Organization Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Subscription Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Primary Contact</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="status" multiple>
      <mat-option *ngFor="let s of statusList" [value]="s">{{ s }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox color="primary">Non-Government</mat-checkbox> <br />
  <mat-checkbox color="primary">Federal</mat-checkbox>
  <div class="text-center mb-5">
    <img
      src="../../../assets/CISA_wordmark-e1584675152693.png"
      style="width: 10rem"
    />
  </div>
</div>
