<ngx-charts-bar-vertical-2d *ngIf="chart.chartResults" 
[view]=""
    [results]="chart.chartResults" 
    [scheme]="chart.colorScheme"    
    [barPadding]="5" 
    [groupPadding]="8" 
    [gradient]="chart.gradient" 
    [xAxis]="chart.showXAxis"    
    [showXAxisLabel]="chart.showXAxisLabel" 
    [xAxisLabel]="chart.xAxisLabel" 
    [yAxis]="chart.showYAxis"    
    [showYAxisLabel]="chart.showYAxisLabel" 
    [yAxisLabel]="chart.yAxisLabel" 
    [legend]="chart.showLegend"   
    [legendPosition]="chart.legendPosition" 
    [legendTitle]="''" 
    [roundEdges]="false"
    [yAxisTickFormatting]="yAxisTickFormatting">
</ngx-charts-bar-vertical-2d>