<div class="container-fluid" [style.height.px]="body_content_height">
  <div class="row h-100">
    <!-- <div class="col-4 border-right h-100 p-3 flex-container flex-column">
      <mat-form-field class="w-100 pb-3" appearance="outline">
        <mat-label>Search</mat-label>
        <input [(ngModel)]="search_input" matInput />
      </mat-form-field>
      <mat-list class="overflow-auto flex-1 template-list" appearnce="outline">
        <h3 matSubheader>(Deception Score) : Template Name</h3>
        <mat-list-item #templateList
          *ngFor="
            let template of template_list
              | listfilter
                : 'name,descriptive_words,deception_score'
                : search_input
          "
        >
          <button
            mat-button
            class="w-100 text-left"
            (click)="selectTemplate(template.template_uuid)"
          >
            ({{ template.deception_score }}) : {{ template.name }}
          </button>
        </mat-list-item>
      </mat-list>
    </div> -->
    <div class="col-8 h-100 d-flex flex-column mt-2" [formGroup]="currentTemplateFormGroup">
      <div #selectedTemplateTitle class="flex-container flex-row selected-template">
        <mat-form-field class="w-100 selected_template_title" appearance="outline">
          <mat-label>Template Name</mat-label>
          <input formControlName="templateName" trim="blur" matInput placeholder="Enter a template name"
            [errorStateMatcher]="matchTemplateName" />
          <mat-error *ngIf=" 
              currentTemplateFormGroup.controls.templateName.hasError(
                'required'
              )
            ">
            Template name <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="currentTemplateFormGroup.controls.templateName.hasError('whitespace')">
            Template name may not contain only spaces
          </mat-error>
        </mat-form-field>
        <!-- <button
          [disabled]="
            currentTemplateFormGroup.controls.templateUUID.value == null
          "
          [routerLink]="[
            '/deceptioncalculator',
            currentTemplateFormGroup.controls.templateUUID.value
          ]"
          mat-raised-button
          color="primary"
        >
          Deception Calculator
        </button> -->
      </div>
      <div class="d-flex">
        <mat-tab-group class="w-100" #tabs (selectedTabChange)="onTabChanged($event)">
          <!-- <mat-tab label="HTML View" class="mb-3"> -->
          <mat-tab>
            <ng-template mat-tab-label>
              <span [ngClass]="{
                  'tab-form-error':
                    currentTemplateFormGroup.controls.templateHTML.touched
                    &&
                    (currentTemplateFormGroup.controls.templateHTML.hasError('required') 
                    || currentTemplateFormGroup.controls.templateHTML.hasError('whitespace'))
                }">HTML View
              </span>
            </ng-template>
            <button mat-raised-button color="primary" (click)="openTagChoice()"
              class="hidden-insert-tag-button d-none">Insert Tag</button>
            <div>
              <angular-editor #angularEditor [style.height.px]="text_editor_height" formControlName="templateHTML"
                [config]="editorConfig"></angular-editor>
            </div>
          </mat-tab>

          <!-- <mat-tab label="Template Attributes"
          [ngClass]="{'testing' : currentTemplateFormGroup.controls.templateFromAddress.hasError('required')}"
          class="mb-3"> -->

          <mat-tab>
            <ng-template mat-tab-label>
              <span [ngClass]="{
                  'tab-form-error':
                    (currentTemplateFormGroup.controls.templateSubject.hasError(
                      'required'
                    ) &&
                      currentTemplateFormGroup.controls.templateSubject
                        .touched) ||
                    (currentTemplateFormGroup.controls.templateFromAddress.hasError(
                      'required'
                    ) &&
                      currentTemplateFormGroup.controls.templateFromAddress
                        .touched)
                }">Template Attributes
              </span>
            </ng-template>
            <div class=" p-3 flex-column" [style.height.px]="text_editor_height">
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline">
                  <mat-label>Subject*</mat-label>
                  <input type="text" trim="blur" matInput placeholder="Template Subject"
                    formControlName="templateSubject" [errorStateMatcher]="matchSubject" />
                  <mat-error *ngIf="
                      currentTemplateFormGroup.controls.templateSubject.hasError(
                        'required'
                      )
                    ">
                    Template subject <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="currentTemplateFormGroup.controls.templateSubject.hasError('whitespace')">
                    Subject may not contain only spaces
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline">
                  <mat-label>From Address*</mat-label>
                  <input type="text" trim="blur" matInput placeholder="Example@user.com"
                    formControlName="templateFromAddress" [errorStateMatcher]="matchFromAddress" />
                  <mat-error *ngIf="
                      currentTemplateFormGroup.controls.templateFromAddress.hasError(
                        'required'
                      )
                    ">
                    From address <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="currentTemplateFormGroup.controls.templateFromAddress.hasError('whitespace')">
                    From address may not contain only spaces
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline">
                  <mat-label>Description</mat-label>
                  <input type="text" trim="blur" matInput placeholder="Template Description..."
                    formControlName="templateDescription" />
                </mat-form-field>
              </div>
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline" class="flex-grow-1">
                  <mat-label>Descriptive Words (CSV)</mat-label>
                  <textarea trim="blur" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"
                    placeholder="Template Descriptive Words Seperated By A Comma"
                    formControlName="templateDescriptiveWords"></textarea>
                </mat-form-field>
              </div>

            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              Subscriptions
            </ng-template>
            <div class="p-3 flex-column" [style.height.px]="text_editor_height">
              <mat-table *ngIf="this.pcaSubscriptions.data.length > 0" class="w-100" [dataSource]="pcaSubscriptions">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>
                    Subscription Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let sub">
                    {{sub.name}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="start_date">
                  <mat-header-cell *matHeaderCellDef>
                    Start Date
                  </mat-header-cell>
                  <mat-cell *matCellDef="let sub">
                    {{sub.start_date | date:dateFormat}}
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayed_columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayed_columns" class="table-row cursor-pointer"
                  [routerLink]="['/view-subscription', row.subscription_uuid]"></mat-row>
              </mat-table>
              <div *ngIf="this.pcaSubscriptions.data.length == 0" class="p-3 text-center">
                No subscriptions are currently using this template
              </div>

            </div>
          </mat-tab>

        </mat-tab-group>
      </div>

      <div class="flex-container flex-column pb-3">
        <!-- <button
          id="save-button"
          class="d-flex"
          mat-raised-button
          color="primary"
          (click)="setEmptyTemplateForm()"
        >
          New Template
        </button> -->
        <!-- <button id="delete-button" class="d-flex" mat-raised-button color="warn" (click)="deleteTemplate()" *ngIf=templateId>
          Delete Template
        </button> -->
        <div class="flex-container flex-row save_container pb-3">
          <button id="retire-button" class="d-flex" mat-raised-button color="accent"
            (click)="openRetireTemplateDialog()" *ngIf="templateId && !retired">
            Retire Template
          </button>
          <button id="restore-button" class="d-flex" mat-raised-button color="accent"
            (click)="openRestoreTemplateDialog()" *ngIf="templateId && retired">
            Restore Template
          </button>
          <button id="stop-button" class="d-flex" mat-raised-button color="warn" (click)="openStopTemplateDialog()"
            *ngIf=templateId>
            Stop Template
          </button>
          <div class="ml-auto d-flex flex-row">
            <button id="save-button" class="d-flex" mat-flat-button color="basic" (click)="onCancelClick()">
              Cancel
            </button>
            <button id="save-button" class="d-flex" mat-raised-button color="primary" (click)="saveTemplate()">
              Save Template
            </button>
          </div>
        </div>
        <div class="flex-container flex-row pb-3" *ngIf="templateId && retired">
          <p class="text-danger">Reason for Retiring - {{retiredReason}}</p>
        </div>
      </div>
    </div>

    <div class="col-4 h-100 border-left " [formGroup]="currentTemplateFormGroup">
      <h2>Deception Calculations</h2>
      <div class="d-flex flex-column overflow-auto deception_calc_content ">
        <div class="">
          <mat-label class="mb-3">Appearance & Grammar</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="grammar">
            <mat-radio-button [value]=0 radioGroup="grammarRadioGroup">0 = Poor</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="grammarRadioGroup">1 = Decent</mat-radio-button>
            <mat-radio-button [value]=2 radioGroup="grammarRadioGroup">2 = Proper</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="">
          <mat-label class="mb-3">Link Domain</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="link_domain">
            <mat-radio-button [value]=0 radioGroup="linkRadioGroup">0 = Fake</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="linkRadioGroup">1 = Spoofed / Hidden</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="">
          <mat-label class="mb-3">Logo / Graphics</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="logo_graphics">
            <mat-radio-button [value]=0 radioGroup="graphicsRadioGroup">0 = Fake / None</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="graphicsRadioGroup">1 = Spoofed / HTML</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="">
          <mat-label class="mb-3">Sender External</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="external">
            <mat-radio-button [value]=0 radioGroup="senderExternalRadioGroup">0 = Fake / NA</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="senderExternalRadioGroup">1 = Spoofed</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="">
          <mat-label class="mb-3">Internal</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="internal">
            <mat-radio-button [value]=0 radioGroup="internalRadioGroup">0 = Fake / NA</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="internalRadioGroup">1 = Unknown Spoofed</mat-radio-button>
            <mat-radio-button [value]=2 radioGroup="internalRadioGroup">2 = Known Spoofed</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="">
          <mat-label class="mb-3">Authoritative</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="authoritative">
            <mat-radio-button [value]=0 radioGroup="authoritativeRadioGroup">0 = None</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="authoritativeRadioGroup">1 = Corporate / Local</mat-radio-button>
            <mat-radio-button [value]=2 radioGroup="authoritativeRadioGroup">2 = Federal / State</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="">
          <mat-label class="mb-3">Relevancy Organization</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="organization">
            <mat-radio-button [value]=0 radioGroup="relevancyOrganizationGroup">0 = No</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="relevancyOrganizationGroup">1 = Yes</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="">
          <mat-label class="mb-3">Public News</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group" formControlName="public_news">
            <mat-radio-button [value]=0 radioGroup="publicNewsGroup">0 = No</mat-radio-button>
            <mat-radio-button [value]=1 radioGroup="publicNewsGroup">1 = Yes</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="check-box-wrapper">
          <mat-label class="mb-3">Behavior</mat-label>
          <div class="deception_checkboxes mt-2 ml-3">
            <mat-checkbox formControlName="fear">Fear </mat-checkbox>
            <mat-checkbox formControlName="curiosity">Duty or Obligation</mat-checkbox>
            <mat-checkbox formControlName="duty_obligation">Curiosity</mat-checkbox>
            <mat-checkbox formControlName="greed">Greed</mat-checkbox>
          </div>
        </div>
        <div class="d-flex flex-row">
          <mat-form-field appearance="outline" class="flex-grow-1">
            <mat-label>Final Deception Score</mat-label>
            <input type="text" trim="blur" matInput placeholder="DeceptionScore"
              formControlName="final_deception_score">
          </mat-form-field>
        </div>


      </div>
    </div>