<div class="container-fluid">
  <!-- Search Bar -->
  <div class="d-flex flex-row flex-grow-1">
    <div class="d-flex flex-column w-100">
      <mat-form-field class="search-bar" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="searchFilter($event)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="d-inline-flex flex-column ml-2">
      <button
        mat-raised-button
        color="primary"
        routerLink="/create-subscription"
      >
        New Subscription
      </button>
      <mat-slide-toggle
        class="mt-3 ml-3 mb-2"
        [(ngModel)]="showArchived"
        (change)="onArchiveToggle()"
      >
        Show Archived
      </mat-slide-toggle>
    </div>
  </div>

  <div
    *ngIf="loading"
    style="text-align: center; padding-top: 2rem; padding-bottom: 2rem;"
  >
    <mat-spinner
      class="spinner"
      style="margin-left: auto; margin-right: auto;"
      diameter="50"
    ></mat-spinner>
  </div>

  <!-- TABLE -->
  <mat-table [dataSource]="data_source" *ngIf="!loading">
    <!-- SUBSCRIPTION NAME -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Subscription Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.subscription.name }}</mat-cell>
    </ng-container>

    <!-- STATUS -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.subscription.status | titlecase }}</mat-cell
      >
    </ng-container>

    <!-- PRIMARY CONTACT -->
    <ng-container matColumnDef="primary_contact">
      <mat-header-cell *matHeaderCellDef>Primary Contact</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{
          row.subscription.primary_contact?.first_name || "No Primary Contact"
        }}
        {{ row.subscription.primary_contact?.last_name || "" }}
      </mat-cell>
    </ng-container>

    <!-- CUSTOMER -->
    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.customer.name }}</mat-cell>
    </ng-container>

    <!-- START DATE -->
    <ng-container matColumnDef="start_date">
      <mat-header-cell *matHeaderCellDef>Start Date</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.subscription.start_date | date: dateFormat }}</mat-cell
      >
    </ng-container>

    <!-- LAST UDPATED DATE -->
    <ng-container matColumnDef="last_updated">
      <mat-header-cell *matHeaderCellDef>Last Updated</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.subscription.lub_timestamp | date: dateFormat }}</mat-cell
      >
    </ng-container>
    <!-- ARCHIVED -->
    <ng-container matColumnDef="archived">
      <mat-header-cell *matHeaderCellDef>Archived</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.subscription.archived }}</mat-cell>
    </ng-container>
    <!-- SELECT -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>Select</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button
          class="table-btn-icon"
          mat-flat-button
          color="primary"
          [routerLink]="[
            '/view-subscription',
            row.subscription.subscription_uuid
          ]"
        >
          <mat-icon class="table-btn-icon-size">edit</mat-icon>
        </button>
        <button
          class="table-btn-icon"
          *ngIf="checkStopped(row.subscription.status)"
          mat-flat-button
          color="primary"
          (click)="startSubscription(row)"
        >
          <mat-icon class="table-btn-icon-size">play_arrow</mat-icon>
        </button>
        <button
          class="table-btn-icon "
          *ngIf="!checkStopped(row.subscription.status)"
          mat-flat-button
          color="warn"
          (click)="stopSubscription(row)"
        >
          <mat-icon class="table-btn-icon-size stop-button">stop</mat-icon>
        </button>
        <mat-spinner
          class="spinner"
          *ngIf="checkSpinner(row.subscription.subscription_uuid)"
          diameter="25"
        ></mat-spinner>
      </mat-cell>
    </ng-container>
    <!-- HEADER ROW -->
    <mat-header-row *matHeaderRowDef="displayed_columns"></mat-header-row>

    <!-- ROW DEFINITION -->
    <mat-row
      *matRowDef="let row; columns: displayed_columns"
      class="table-row cursor-pointer"
      (click)="editSubscription(row)"
    >
    </mat-row>
  </mat-table>
</div>
