.refresh-test-results-btn {
  margin-left: 8px;
  display: inline-block;
  transform: scale(0.8);
}

.mat-column-sent {
  flex: 0 0 8%;
}

.mat-column-clicked {
  flex: 0 0 8%;
}

.mat-column-select {
  overflow: initial;
  flex: 0 0 8%;
}
