<div  #overlayContainer class="loading-container">
    <div #loadingText class="loading-text" >
        <div style="display: flex; 
        flex-direction: column; 
        justify-content: center;
        padding:2em;
        border-radius: 10px;
        background-color: white;">
            <div style="display:block; width: auto;">
                <mat-spinner
                class="loading-spinner"
                diameter="50"
                style="margin: auto;"
                ></mat-spinner>
            </div>
            <div style="display:block">
                <p>{{display_text}}</p>
            </div>
        </div>
    </div>
    <div class="loading-overlay loading-layer-one" >
        <div class="loading-overlay loading-layer-two" >
            <div class="loading-overlay loading-layer-three" >
                <div class="loading-overlay loading-layer-four" >
                    <div class="loading-overlay loading-layer-five" >
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
