.mat-form-field-lol {
  width: 100%;
}

.search-bar {
  width: 100%;
}

.search-button {
  margin-top: 10px;
}

.input-group {
  margin-left: 80px;
}

.mat-success {
  background-color: #28a745;
  color: #fff;
}
