<div class="container-fluid" [style.height.px]="body_content_height">
    <div class="row h-100">      
      <div
        class="col-8 h-100 d-flex flex-column mt-2"
        [formGroup]="currentTemplateFormGroup"
      >
        <div
          #selectedTemplateTitle
          class="flex-container flex-row selected-template"
        >
          <mat-form-field
            class="w-100 selected_template_title"
            appearance="outline"
          >
            <mat-label>Landing Page Name</mat-label>
            <input
              formControlName="templateName"
              trim="blur"
              matInput
              placeholder="Enter a template name"
              [errorStateMatcher]="matchTemplateName"
            />
            <mat-error
              *ngIf="
                currentTemplateFormGroup.controls.templateName.hasError(
                  'required'
                )
              "
            >
              Page name <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="
                currentTemplateFormGroup.controls.templateName.hasError(
                  'whitespace'
                )
              "
            >
              Page name may not contain only spaces
            </mat-error>
          </mat-form-field>          
        </div>
        <div class="d-flex">
          <mat-tab-group
            class="w-100"
            #tabs
            (selectedTabChange)="onTabChanged($event)"
          >
            <!-- <mat-tab label="HTML View" class="mb-3"> -->
            <mat-tab>
              <ng-template mat-tab-label>
                <span
                  [ngClass]="{
                    'tab-form-error':
                      currentTemplateFormGroup.controls.templateHTML.touched &&
                      (currentTemplateFormGroup.controls.templateHTML.hasError(
                        'required'
                      ) ||
                        currentTemplateFormGroup.controls.templateHTML.hasError(
                          'whitespace'
                        ))
                  }"
                  >Landing Page Editor HTML View
                </span>
              </ng-template>              
              <div>
                <angular-editor
                  #angularEditor
                  [style.height.px]="text_editor_height"
                  formControlName="templateHTML"
                  [config]="editorConfig"
                ></angular-editor>
              </div>
            </mat-tab>     
          </mat-tab-group>
        </div>
  
        <div class="flex-container flex-column pb-3">
          <!-- <button
            id="save-button"
            class="d-flex"
            mat-raised-button
            color="primary"
            (click)="setEmptyTemplateForm()"
          >
            New Page
          </button> -->
          <!-- <button id="delete-button" class="d-flex" mat-raised-button color="warn" (click)="deleteTemplate()" *ngIf=templateId>
            Delete Page
          </button> -->
          <div class="flex-container flex-row save_container pb-3">
            <button
              id="retire-button"
              class="d-flex"
              mat-raised-button
              color="accent"
              (click)="openRetireTemplateDialog()"
              *ngIf="templateId && !retired"
            >
              Retire Page
            </button>
            <button
              id="restore-button"
              class="d-flex"
              mat-raised-button
              color="accent"
              (click)="openRestoreTemplateDialog()"
              *ngIf="templateId && retired"
            >
              Restore Page
            </button>          
            <div class="ml-auto d-flex flex-row">
              <button
                id="save-button"
                class="d-flex"
                mat-flat-button
                color="basic"
                (click)="onCancelClick()"
              >
                Cancel
              </button>
              <button
                id="save-button"
                class="d-flex"
                mat-raised-button
                color="primary"
                (click)="saveTemplate()"
              >
                Save Page
              </button>
            </div>
          </div>
          <div class="flex-container flex-row pb-3" *ngIf="templateId && retired">
            <p class="text-danger">Reason for Retiring - {{ retiredReason }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
