<h1>{{ mode | titlecase }} Landing Domain</h1>

<form [formGroup]="domainForm">
  <div style="max-height: 70vh; overflow-y: auto; overflow-x: hidden">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Domain</mat-label>
      <input formControlName="domain" matInput required />
    </mat-form-field>
  </div>

  <div class="text-right mt-3">
    <button mat-flat-button class="add-button" color="basic" (click)="cancel()">
      Cancel
    </button>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      (click)="save()"
    >
      Save Profile
    </button>
  </div>
</form>
